body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:805px;
}
#u1412 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:805px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:394px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 165, 124, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1415 {
  position:absolute;
  left:17px;
  top:76px;
  width:360px;
  height:25px;
}
#u1416 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u1417 {
  position:absolute;
  left:320px;
  top:79px;
  width:25px;
  height:20px;
}
#u1418 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u1419 {
  position:absolute;
  left:286px;
  top:79px;
  width:25px;
  height:20px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u1421 {
  position:absolute;
  left:354px;
  top:79px;
  width:14px;
  height:20px;
}
#u1422 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
  background:inherit;
  background-color:rgba(45, 158, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1423 {
  position:absolute;
  left:17px;
  top:99px;
  width:360px;
  height:55px;
}
#u1424 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1425 {
  position:absolute;
  left:25px;
  top:108px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1426 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1427 {
  position:absolute;
  left:64px;
  top:113px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1428 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1429 {
  position:absolute;
  left:17px;
  top:154px;
  width:360px;
  height:568px;
  overflow:hidden;
  touch-action:none;
}
#u1429_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1429_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1430 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u1430_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:921px;
  background-image:none;
}
#u1430_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1431 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:921px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1432 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:921px;
}
#u1433 {
  position:absolute;
  left:2px;
  top:452px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u1434 {
  position:absolute;
  left:3px;
  top:574px;
  width:127px;
  height:26px;
}
#u1435 {
  position:absolute;
  left:2px;
  top:5px;
  width:123px;
  word-wrap:break-word;
}
#u1436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
}
#u1436 {
  position:absolute;
  left:44px;
  top:832px;
  width:77px;
  height:26px;
}
#u1437 {
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u1438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:181px;
}
#u1438 {
  position:absolute;
  left:24px;
  top:620px;
  width:132px;
  height:181px;
}
#u1439 {
  position:absolute;
  left:2px;
  top:82px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:169px;
}
#u1440 {
  position:absolute;
  left:212px;
  top:629px;
  width:114px;
  height:169px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:76px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
}
#u1442 {
  position:absolute;
  left:44px;
  top:800px;
  width:77px;
  height:26px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
}
#u1444 {
  position:absolute;
  left:231px;
  top:831px;
  width:77px;
  height:26px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
}
#u1446 {
  position:absolute;
  left:231px;
  top:800px;
  width:77px;
  height:26px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u1448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u1449 {
  position:absolute;
  left:76px;
  top:159px;
  width:87px;
  height:16px;
  color:#FF0000;
}
#u1450 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u1451 {
  position:absolute;
  left:196px;
  top:159px;
  width:87px;
  height:16px;
  color:#FF0000;
}
#u1452 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1453 {
  position:absolute;
  left:19px;
  top:120px;
  width:302px;
  height:16px;
  color:#000000;
}
#u1454 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1455 {
  position:absolute;
  left:5px;
  top:160px;
  width:71px;
  height:16px;
}
#u1456 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u1457 {
  position:absolute;
  left:22px;
  top:19px;
  width:67px;
  height:67px;
}
#u1458 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1459 {
  position:absolute;
  left:118px;
  top:19px;
  width:211px;
  height:16px;
}
#u1460 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1461 {
  position:absolute;
  left:118px;
  top:45px;
  width:127px;
  height:16px;
}
#u1462 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1463 {
  position:absolute;
  left:118px;
  top:72px;
  width:153px;
  height:16px;
}
#u1464 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u1465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1465 {
  position:absolute;
  left:6px;
  top:189px;
  width:99px;
  height:16px;
}
#u1466 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1467 {
  position:absolute;
  left:1px;
  top:250px;
  width:364px;
  height:215px;
}
#u1468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1468 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1469 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1470 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:30px;
}
#u1471 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1472 {
  position:absolute;
  left:240px;
  top:0px;
  width:119px;
  height:30px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1474 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
}
#u1475 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1476 {
  position:absolute;
  left:120px;
  top:30px;
  width:120px;
  height:30px;
}
#u1477 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1478 {
  position:absolute;
  left:240px;
  top:30px;
  width:119px;
  height:30px;
}
#u1479 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1480 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
}
#u1481 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1482 {
  position:absolute;
  left:120px;
  top:60px;
  width:120px;
  height:30px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1484 {
  position:absolute;
  left:240px;
  top:60px;
  width:119px;
  height:30px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1486 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:30px;
}
#u1487 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1488 {
  position:absolute;
  left:120px;
  top:90px;
  width:120px;
  height:30px;
}
#u1489 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1490 {
  position:absolute;
  left:240px;
  top:90px;
  width:119px;
  height:30px;
}
#u1491 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1492 {
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:30px;
}
#u1493 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1494 {
  position:absolute;
  left:120px;
  top:120px;
  width:120px;
  height:30px;
}
#u1495 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1496 {
  position:absolute;
  left:240px;
  top:120px;
  width:119px;
  height:30px;
}
#u1497 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1498 {
  position:absolute;
  left:0px;
  top:150px;
  width:120px;
  height:30px;
}
#u1499 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1500 {
  position:absolute;
  left:120px;
  top:150px;
  width:120px;
  height:30px;
}
#u1501 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1502 {
  position:absolute;
  left:240px;
  top:150px;
  width:119px;
  height:30px;
}
#u1503 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1504 {
  position:absolute;
  left:0px;
  top:180px;
  width:120px;
  height:30px;
}
#u1505 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1506 {
  position:absolute;
  left:120px;
  top:180px;
  width:120px;
  height:30px;
}
#u1507 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1508 {
  position:absolute;
  left:240px;
  top:180px;
  width:119px;
  height:30px;
}
#u1509 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1510 {
  position:absolute;
  left:1px;
  top:214px;
  width:359px;
  height:37px;
}
#u1511 {
  position:absolute;
  left:2px;
  top:10px;
  width:355px;
  word-wrap:break-word;
}
#u1512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1512 {
  position:absolute;
  left:319px;
  top:216px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1513 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1514 {
  position:absolute;
  left:1px;
  top:505px;
  width:359px;
  height:37px;
}
#u1515 {
  position:absolute;
  left:2px;
  top:10px;
  width:355px;
  word-wrap:break-word;
}
#u1516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1516 {
  position:absolute;
  left:319px;
  top:509px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1517 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1518 {
  position:absolute;
  left:6px;
  top:479px;
  width:99px;
  height:16px;
}
#u1519 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
