body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1011px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20070 {
  position:absolute;
  left:67px;
  top:37px;
  width:949px;
  height:1821px;
}
#u20071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u20071 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  text-align:left;
}
#u20072 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u20073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:68px;
}
#u20073 {
  position:absolute;
  left:100px;
  top:0px;
  width:53px;
  height:68px;
  text-align:left;
}
#u20074 {
  position:absolute;
  left:2px;
  top:26px;
  width:49px;
  word-wrap:break-word;
}
#u20075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:68px;
}
#u20075 {
  position:absolute;
  left:153px;
  top:0px;
  width:147px;
  height:68px;
  text-align:left;
}
#u20076 {
  position:absolute;
  left:2px;
  top:26px;
  width:143px;
  word-wrap:break-word;
}
#u20077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:68px;
}
#u20077 {
  position:absolute;
  left:300px;
  top:0px;
  width:427px;
  height:68px;
  text-align:left;
}
#u20078 {
  position:absolute;
  left:2px;
  top:26px;
  width:423px;
  word-wrap:break-word;
}
#u20079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u20079 {
  position:absolute;
  left:727px;
  top:0px;
  width:75px;
  height:68px;
  color:#FF0000;
  text-align:left;
}
#u20080 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u20081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u20081 {
  position:absolute;
  left:802px;
  top:0px;
  width:87px;
  height:68px;
  text-align:left;
}
#u20082 {
  position:absolute;
  left:2px;
  top:26px;
  width:83px;
  word-wrap:break-word;
}
#u20083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u20083 {
  position:absolute;
  left:889px;
  top:0px;
  width:55px;
  height:68px;
  text-align:left;
}
#u20084 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u20085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u20085 {
  position:absolute;
  left:0px;
  top:68px;
  width:100px;
  height:52px;
  text-align:left;
}
#u20086 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u20087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:52px;
}
#u20087 {
  position:absolute;
  left:100px;
  top:68px;
  width:53px;
  height:52px;
  text-align:left;
}
#u20088 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u20089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u20089 {
  position:absolute;
  left:153px;
  top:68px;
  width:147px;
  height:52px;
  text-align:left;
}
#u20090 {
  position:absolute;
  left:2px;
  top:18px;
  width:143px;
  word-wrap:break-word;
}
#u20091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:52px;
}
#u20091 {
  position:absolute;
  left:300px;
  top:68px;
  width:427px;
  height:52px;
  text-align:left;
}
#u20092 {
  position:absolute;
  left:2px;
  top:18px;
  width:423px;
  word-wrap:break-word;
}
#u20093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u20093 {
  position:absolute;
  left:727px;
  top:68px;
  width:75px;
  height:52px;
  color:#FF0000;
  text-align:left;
}
#u20094 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u20095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u20095 {
  position:absolute;
  left:802px;
  top:68px;
  width:87px;
  height:52px;
  text-align:left;
}
#u20096 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u20097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u20097 {
  position:absolute;
  left:889px;
  top:68px;
  width:55px;
  height:52px;
  text-align:left;
}
#u20098 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u20099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u20099 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:52px;
  text-align:left;
}
#u20100 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u20101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:52px;
}
#u20101 {
  position:absolute;
  left:100px;
  top:120px;
  width:53px;
  height:52px;
  text-align:left;
}
#u20102 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u20103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u20103 {
  position:absolute;
  left:153px;
  top:120px;
  width:147px;
  height:52px;
  text-align:left;
}
#u20104 {
  position:absolute;
  left:2px;
  top:18px;
  width:143px;
  word-wrap:break-word;
}
#u20105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:52px;
}
#u20105 {
  position:absolute;
  left:300px;
  top:120px;
  width:427px;
  height:52px;
  text-align:left;
}
#u20106 {
  position:absolute;
  left:2px;
  top:18px;
  width:423px;
  word-wrap:break-word;
}
#u20107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u20107 {
  position:absolute;
  left:727px;
  top:120px;
  width:75px;
  height:52px;
  color:#FF0000;
  text-align:left;
}
#u20108 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u20109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u20109 {
  position:absolute;
  left:802px;
  top:120px;
  width:87px;
  height:52px;
  text-align:left;
}
#u20110 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u20111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u20111 {
  position:absolute;
  left:889px;
  top:120px;
  width:55px;
  height:52px;
  text-align:left;
}
#u20112 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u20113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u20113 {
  position:absolute;
  left:0px;
  top:172px;
  width:100px;
  height:100px;
  text-align:left;
}
#u20114 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u20115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:100px;
}
#u20115 {
  position:absolute;
  left:100px;
  top:172px;
  width:53px;
  height:100px;
  text-align:left;
}
#u20116 {
  position:absolute;
  left:2px;
  top:42px;
  width:49px;
  word-wrap:break-word;
}
#u20117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:100px;
}
#u20117 {
  position:absolute;
  left:153px;
  top:172px;
  width:147px;
  height:100px;
  text-align:left;
}
#u20118 {
  position:absolute;
  left:2px;
  top:42px;
  width:143px;
  word-wrap:break-word;
}
#u20119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:100px;
}
#u20119 {
  position:absolute;
  left:300px;
  top:172px;
  width:427px;
  height:100px;
  text-align:left;
}
#u20120 {
  position:absolute;
  left:2px;
  top:34px;
  width:423px;
  word-wrap:break-word;
}
#u20121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:100px;
}
#u20121 {
  position:absolute;
  left:727px;
  top:172px;
  width:75px;
  height:100px;
  color:#FF0000;
  text-align:left;
}
#u20122 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  word-wrap:break-word;
}
#u20123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:100px;
}
#u20123 {
  position:absolute;
  left:802px;
  top:172px;
  width:87px;
  height:100px;
  text-align:left;
}
#u20124 {
  position:absolute;
  left:2px;
  top:42px;
  width:83px;
  word-wrap:break-word;
}
#u20125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:100px;
}
#u20125 {
  position:absolute;
  left:889px;
  top:172px;
  width:55px;
  height:100px;
  text-align:left;
}
#u20126 {
  position:absolute;
  left:2px;
  top:42px;
  width:51px;
  word-wrap:break-word;
}
#u20127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u20127 {
  position:absolute;
  left:0px;
  top:272px;
  width:100px;
  height:84px;
  text-align:left;
}
#u20128 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u20129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:84px;
}
#u20129 {
  position:absolute;
  left:100px;
  top:272px;
  width:53px;
  height:84px;
  text-align:left;
}
#u20130 {
  position:absolute;
  left:2px;
  top:34px;
  width:49px;
  word-wrap:break-word;
}
#u20131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:84px;
}
#u20131 {
  position:absolute;
  left:153px;
  top:272px;
  width:147px;
  height:84px;
  text-align:left;
}
#u20132 {
  position:absolute;
  left:2px;
  top:34px;
  width:143px;
  word-wrap:break-word;
}
#u20133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:84px;
}
#u20133 {
  position:absolute;
  left:300px;
  top:272px;
  width:427px;
  height:84px;
  text-align:left;
}
#u20134 {
  position:absolute;
  left:2px;
  top:26px;
  width:423px;
  word-wrap:break-word;
}
#u20135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u20135 {
  position:absolute;
  left:727px;
  top:272px;
  width:75px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u20136 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  word-wrap:break-word;
}
#u20137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:84px;
}
#u20137 {
  position:absolute;
  left:802px;
  top:272px;
  width:87px;
  height:84px;
  text-align:left;
}
#u20138 {
  position:absolute;
  left:2px;
  top:34px;
  width:83px;
  word-wrap:break-word;
}
#u20139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:84px;
}
#u20139 {
  position:absolute;
  left:889px;
  top:272px;
  width:55px;
  height:84px;
  text-align:left;
}
#u20140 {
  position:absolute;
  left:2px;
  top:34px;
  width:51px;
  word-wrap:break-word;
}
#u20141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:148px;
}
#u20141 {
  position:absolute;
  left:0px;
  top:356px;
  width:100px;
  height:148px;
  text-align:left;
}
#u20142 {
  position:absolute;
  left:2px;
  top:66px;
  width:96px;
  word-wrap:break-word;
}
#u20143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:148px;
}
#u20143 {
  position:absolute;
  left:100px;
  top:356px;
  width:53px;
  height:148px;
  text-align:left;
}
#u20144 {
  position:absolute;
  left:2px;
  top:66px;
  width:49px;
  word-wrap:break-word;
}
#u20145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:148px;
}
#u20145 {
  position:absolute;
  left:153px;
  top:356px;
  width:147px;
  height:148px;
  text-align:left;
}
#u20146 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  word-wrap:break-word;
}
#u20147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:148px;
}
#u20147 {
  position:absolute;
  left:300px;
  top:356px;
  width:427px;
  height:148px;
  text-align:left;
}
#u20148 {
  position:absolute;
  left:2px;
  top:58px;
  width:423px;
  word-wrap:break-word;
}
#u20149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:148px;
}
#u20149 {
  position:absolute;
  left:727px;
  top:356px;
  width:75px;
  height:148px;
  color:#FF0000;
  text-align:left;
}
#u20150 {
  position:absolute;
  left:2px;
  top:66px;
  width:71px;
  word-wrap:break-word;
}
#u20151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:148px;
}
#u20151 {
  position:absolute;
  left:802px;
  top:356px;
  width:87px;
  height:148px;
  text-align:left;
}
#u20152 {
  position:absolute;
  left:2px;
  top:66px;
  width:83px;
  word-wrap:break-word;
}
#u20153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:148px;
}
#u20153 {
  position:absolute;
  left:889px;
  top:356px;
  width:55px;
  height:148px;
  text-align:left;
}
#u20154 {
  position:absolute;
  left:2px;
  top:66px;
  width:51px;
  word-wrap:break-word;
}
#u20155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u20155 {
  position:absolute;
  left:0px;
  top:504px;
  width:100px;
  height:116px;
  text-align:left;
}
#u20156 {
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u20157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:116px;
}
#u20157 {
  position:absolute;
  left:100px;
  top:504px;
  width:53px;
  height:116px;
  text-align:left;
}
#u20158 {
  position:absolute;
  left:2px;
  top:50px;
  width:49px;
  word-wrap:break-word;
}
#u20159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:116px;
}
#u20159 {
  position:absolute;
  left:153px;
  top:504px;
  width:147px;
  height:116px;
  text-align:left;
}
#u20160 {
  position:absolute;
  left:2px;
  top:50px;
  width:143px;
  word-wrap:break-word;
}
#u20161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:116px;
}
#u20161 {
  position:absolute;
  left:300px;
  top:504px;
  width:427px;
  height:116px;
  text-align:left;
}
#u20162 {
  position:absolute;
  left:2px;
  top:42px;
  width:423px;
  word-wrap:break-word;
}
#u20163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:116px;
}
#u20163 {
  position:absolute;
  left:727px;
  top:504px;
  width:75px;
  height:116px;
  color:#FF0000;
  text-align:left;
}
#u20164 {
  position:absolute;
  left:2px;
  top:50px;
  width:71px;
  word-wrap:break-word;
}
#u20165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:116px;
}
#u20165 {
  position:absolute;
  left:802px;
  top:504px;
  width:87px;
  height:116px;
  text-align:left;
}
#u20166 {
  position:absolute;
  left:2px;
  top:50px;
  width:83px;
  word-wrap:break-word;
}
#u20167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:116px;
}
#u20167 {
  position:absolute;
  left:889px;
  top:504px;
  width:55px;
  height:116px;
  text-align:left;
}
#u20168 {
  position:absolute;
  left:2px;
  top:50px;
  width:51px;
  word-wrap:break-word;
}
#u20169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u20169 {
  position:absolute;
  left:0px;
  top:620px;
  width:100px;
  height:52px;
  text-align:left;
}
#u20170 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u20171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:52px;
}
#u20171 {
  position:absolute;
  left:100px;
  top:620px;
  width:53px;
  height:52px;
  text-align:left;
}
#u20172 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u20173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u20173 {
  position:absolute;
  left:153px;
  top:620px;
  width:147px;
  height:52px;
  text-align:left;
}
#u20174 {
  position:absolute;
  left:2px;
  top:18px;
  width:143px;
  word-wrap:break-word;
}
#u20175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:52px;
}
#u20175 {
  position:absolute;
  left:300px;
  top:620px;
  width:427px;
  height:52px;
  text-align:left;
}
#u20176 {
  position:absolute;
  left:2px;
  top:18px;
  width:423px;
  word-wrap:break-word;
}
#u20177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u20177 {
  position:absolute;
  left:727px;
  top:620px;
  width:75px;
  height:52px;
  color:#FF0000;
  text-align:left;
}
#u20178 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u20179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u20179 {
  position:absolute;
  left:802px;
  top:620px;
  width:87px;
  height:52px;
  text-align:left;
}
#u20180 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u20181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u20181 {
  position:absolute;
  left:889px;
  top:620px;
  width:55px;
  height:52px;
  text-align:left;
}
#u20182 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u20183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u20183 {
  position:absolute;
  left:0px;
  top:672px;
  width:100px;
  height:52px;
  text-align:left;
}
#u20184 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u20185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:52px;
}
#u20185 {
  position:absolute;
  left:100px;
  top:672px;
  width:53px;
  height:52px;
  text-align:left;
}
#u20186 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u20187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u20187 {
  position:absolute;
  left:153px;
  top:672px;
  width:147px;
  height:52px;
  text-align:left;
}
#u20188 {
  position:absolute;
  left:2px;
  top:18px;
  width:143px;
  word-wrap:break-word;
}
#u20189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:52px;
}
#u20189 {
  position:absolute;
  left:300px;
  top:672px;
  width:427px;
  height:52px;
  text-align:left;
}
#u20190 {
  position:absolute;
  left:2px;
  top:18px;
  width:423px;
  word-wrap:break-word;
}
#u20191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u20191 {
  position:absolute;
  left:727px;
  top:672px;
  width:75px;
  height:52px;
  color:#FF0000;
  text-align:left;
}
#u20192 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u20193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u20193 {
  position:absolute;
  left:802px;
  top:672px;
  width:87px;
  height:52px;
  text-align:left;
}
#u20194 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u20195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u20195 {
  position:absolute;
  left:889px;
  top:672px;
  width:55px;
  height:52px;
  text-align:left;
}
#u20196 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u20197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u20197 {
  position:absolute;
  left:0px;
  top:724px;
  width:100px;
  height:52px;
  text-align:left;
}
#u20198 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u20199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:52px;
}
#u20199 {
  position:absolute;
  left:100px;
  top:724px;
  width:53px;
  height:52px;
  text-align:left;
}
#u20200 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u20201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u20201 {
  position:absolute;
  left:153px;
  top:724px;
  width:147px;
  height:52px;
  text-align:left;
}
#u20202 {
  position:absolute;
  left:2px;
  top:18px;
  width:143px;
  word-wrap:break-word;
}
#u20203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:52px;
}
#u20203 {
  position:absolute;
  left:300px;
  top:724px;
  width:427px;
  height:52px;
  text-align:left;
}
#u20204 {
  position:absolute;
  left:2px;
  top:18px;
  width:423px;
  word-wrap:break-word;
}
#u20205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u20205 {
  position:absolute;
  left:727px;
  top:724px;
  width:75px;
  height:52px;
  color:#FF0000;
  text-align:left;
}
#u20206 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u20207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u20207 {
  position:absolute;
  left:802px;
  top:724px;
  width:87px;
  height:52px;
  text-align:left;
}
#u20208 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u20209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u20209 {
  position:absolute;
  left:889px;
  top:724px;
  width:55px;
  height:52px;
  text-align:left;
}
#u20210 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u20211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u20211 {
  position:absolute;
  left:0px;
  top:776px;
  width:100px;
  height:52px;
  text-align:left;
}
#u20212 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u20213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:52px;
}
#u20213 {
  position:absolute;
  left:100px;
  top:776px;
  width:53px;
  height:52px;
  text-align:left;
}
#u20214 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u20215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u20215 {
  position:absolute;
  left:153px;
  top:776px;
  width:147px;
  height:52px;
  text-align:left;
}
#u20216 {
  position:absolute;
  left:2px;
  top:18px;
  width:143px;
  word-wrap:break-word;
}
#u20217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:52px;
}
#u20217 {
  position:absolute;
  left:300px;
  top:776px;
  width:427px;
  height:52px;
  text-align:left;
}
#u20218 {
  position:absolute;
  left:2px;
  top:18px;
  width:423px;
  word-wrap:break-word;
}
#u20219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u20219 {
  position:absolute;
  left:727px;
  top:776px;
  width:75px;
  height:52px;
  color:#FF0000;
  text-align:left;
}
#u20220 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u20221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u20221 {
  position:absolute;
  left:802px;
  top:776px;
  width:87px;
  height:52px;
  text-align:left;
}
#u20222 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u20223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u20223 {
  position:absolute;
  left:889px;
  top:776px;
  width:55px;
  height:52px;
  text-align:left;
}
#u20224 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u20225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u20225 {
  position:absolute;
  left:0px;
  top:828px;
  width:100px;
  height:68px;
  text-align:left;
}
#u20226 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u20227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:68px;
}
#u20227 {
  position:absolute;
  left:100px;
  top:828px;
  width:53px;
  height:68px;
  text-align:left;
}
#u20228 {
  position:absolute;
  left:2px;
  top:26px;
  width:49px;
  word-wrap:break-word;
}
#u20229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:68px;
}
#u20229 {
  position:absolute;
  left:153px;
  top:828px;
  width:147px;
  height:68px;
  text-align:left;
}
#u20230 {
  position:absolute;
  left:2px;
  top:26px;
  width:143px;
  word-wrap:break-word;
}
#u20231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:68px;
}
#u20231 {
  position:absolute;
  left:300px;
  top:828px;
  width:427px;
  height:68px;
  text-align:left;
}
#u20232 {
  position:absolute;
  left:2px;
  top:26px;
  width:423px;
  word-wrap:break-word;
}
#u20233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u20233 {
  position:absolute;
  left:727px;
  top:828px;
  width:75px;
  height:68px;
  color:#FF0000;
  text-align:left;
}
#u20234 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u20235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u20235 {
  position:absolute;
  left:802px;
  top:828px;
  width:87px;
  height:68px;
  text-align:left;
}
#u20236 {
  position:absolute;
  left:2px;
  top:26px;
  width:83px;
  word-wrap:break-word;
}
#u20237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u20237 {
  position:absolute;
  left:889px;
  top:828px;
  width:55px;
  height:68px;
  text-align:left;
}
#u20238 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u20239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u20239 {
  position:absolute;
  left:0px;
  top:896px;
  width:100px;
  height:68px;
  text-align:left;
}
#u20240 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u20241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:68px;
}
#u20241 {
  position:absolute;
  left:100px;
  top:896px;
  width:53px;
  height:68px;
  text-align:left;
}
#u20242 {
  position:absolute;
  left:2px;
  top:26px;
  width:49px;
  word-wrap:break-word;
}
#u20243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:68px;
}
#u20243 {
  position:absolute;
  left:153px;
  top:896px;
  width:147px;
  height:68px;
  text-align:left;
}
#u20244 {
  position:absolute;
  left:2px;
  top:26px;
  width:143px;
  word-wrap:break-word;
}
#u20245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:68px;
}
#u20245 {
  position:absolute;
  left:300px;
  top:896px;
  width:427px;
  height:68px;
  text-align:left;
}
#u20246 {
  position:absolute;
  left:2px;
  top:26px;
  width:423px;
  word-wrap:break-word;
}
#u20247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u20247 {
  position:absolute;
  left:727px;
  top:896px;
  width:75px;
  height:68px;
  color:#FF0000;
  text-align:left;
}
#u20248 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u20249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u20249 {
  position:absolute;
  left:802px;
  top:896px;
  width:87px;
  height:68px;
  text-align:left;
}
#u20250 {
  position:absolute;
  left:2px;
  top:26px;
  width:83px;
  word-wrap:break-word;
}
#u20251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u20251 {
  position:absolute;
  left:889px;
  top:896px;
  width:55px;
  height:68px;
  text-align:left;
}
#u20252 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u20253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u20253 {
  position:absolute;
  left:0px;
  top:964px;
  width:100px;
  height:84px;
  text-align:left;
}
#u20254 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u20255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:84px;
}
#u20255 {
  position:absolute;
  left:100px;
  top:964px;
  width:53px;
  height:84px;
  text-align:left;
}
#u20256 {
  position:absolute;
  left:2px;
  top:34px;
  width:49px;
  word-wrap:break-word;
}
#u20257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:84px;
}
#u20257 {
  position:absolute;
  left:153px;
  top:964px;
  width:147px;
  height:84px;
  text-align:left;
}
#u20258 {
  position:absolute;
  left:2px;
  top:34px;
  width:143px;
  word-wrap:break-word;
}
#u20259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:84px;
}
#u20259 {
  position:absolute;
  left:300px;
  top:964px;
  width:427px;
  height:84px;
  text-align:left;
}
#u20260 {
  position:absolute;
  left:2px;
  top:26px;
  width:423px;
  word-wrap:break-word;
}
#u20261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u20261 {
  position:absolute;
  left:727px;
  top:964px;
  width:75px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u20262 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  word-wrap:break-word;
}
#u20263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:84px;
}
#u20263 {
  position:absolute;
  left:802px;
  top:964px;
  width:87px;
  height:84px;
  text-align:left;
}
#u20264 {
  position:absolute;
  left:2px;
  top:34px;
  width:83px;
  word-wrap:break-word;
}
#u20265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:84px;
}
#u20265 {
  position:absolute;
  left:889px;
  top:964px;
  width:55px;
  height:84px;
  text-align:left;
}
#u20266 {
  position:absolute;
  left:2px;
  top:34px;
  width:51px;
  word-wrap:break-word;
}
#u20267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:148px;
}
#u20267 {
  position:absolute;
  left:0px;
  top:1048px;
  width:100px;
  height:148px;
  text-align:left;
}
#u20268 {
  position:absolute;
  left:2px;
  top:66px;
  width:96px;
  word-wrap:break-word;
}
#u20269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:148px;
}
#u20269 {
  position:absolute;
  left:100px;
  top:1048px;
  width:53px;
  height:148px;
  text-align:left;
}
#u20270 {
  position:absolute;
  left:2px;
  top:66px;
  width:49px;
  word-wrap:break-word;
}
#u20271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:148px;
}
#u20271 {
  position:absolute;
  left:153px;
  top:1048px;
  width:147px;
  height:148px;
  text-align:left;
}
#u20272 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  word-wrap:break-word;
}
#u20273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:148px;
}
#u20273 {
  position:absolute;
  left:300px;
  top:1048px;
  width:427px;
  height:148px;
  text-align:left;
}
#u20274 {
  position:absolute;
  left:2px;
  top:58px;
  width:423px;
  word-wrap:break-word;
}
#u20275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:148px;
}
#u20275 {
  position:absolute;
  left:727px;
  top:1048px;
  width:75px;
  height:148px;
  color:#FF0000;
  text-align:left;
}
#u20276 {
  position:absolute;
  left:2px;
  top:66px;
  width:71px;
  word-wrap:break-word;
}
#u20277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:148px;
}
#u20277 {
  position:absolute;
  left:802px;
  top:1048px;
  width:87px;
  height:148px;
  text-align:left;
}
#u20278 {
  position:absolute;
  left:2px;
  top:66px;
  width:83px;
  word-wrap:break-word;
}
#u20279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:148px;
}
#u20279 {
  position:absolute;
  left:889px;
  top:1048px;
  width:55px;
  height:148px;
  text-align:left;
}
#u20280 {
  position:absolute;
  left:2px;
  top:66px;
  width:51px;
  word-wrap:break-word;
}
#u20281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:116px;
}
#u20281 {
  position:absolute;
  left:0px;
  top:1196px;
  width:100px;
  height:116px;
  text-align:left;
}
#u20282 {
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u20283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:116px;
}
#u20283 {
  position:absolute;
  left:100px;
  top:1196px;
  width:53px;
  height:116px;
  text-align:left;
}
#u20284 {
  position:absolute;
  left:2px;
  top:50px;
  width:49px;
  word-wrap:break-word;
}
#u20285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:116px;
}
#u20285 {
  position:absolute;
  left:153px;
  top:1196px;
  width:147px;
  height:116px;
  text-align:left;
}
#u20286 {
  position:absolute;
  left:2px;
  top:50px;
  width:143px;
  word-wrap:break-word;
}
#u20287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:116px;
}
#u20287 {
  position:absolute;
  left:300px;
  top:1196px;
  width:427px;
  height:116px;
  text-align:left;
}
#u20288 {
  position:absolute;
  left:2px;
  top:42px;
  width:423px;
  word-wrap:break-word;
}
#u20289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:116px;
}
#u20289 {
  position:absolute;
  left:727px;
  top:1196px;
  width:75px;
  height:116px;
  color:#FF0000;
  text-align:left;
}
#u20290 {
  position:absolute;
  left:2px;
  top:50px;
  width:71px;
  word-wrap:break-word;
}
#u20291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:116px;
}
#u20291 {
  position:absolute;
  left:802px;
  top:1196px;
  width:87px;
  height:116px;
  text-align:left;
}
#u20292 {
  position:absolute;
  left:2px;
  top:50px;
  width:83px;
  word-wrap:break-word;
}
#u20293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:116px;
}
#u20293 {
  position:absolute;
  left:889px;
  top:1196px;
  width:55px;
  height:116px;
  text-align:left;
}
#u20294 {
  position:absolute;
  left:2px;
  top:50px;
  width:51px;
  word-wrap:break-word;
}
#u20295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u20295 {
  position:absolute;
  left:0px;
  top:1312px;
  width:100px;
  height:84px;
  text-align:left;
}
#u20296 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u20297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:84px;
}
#u20297 {
  position:absolute;
  left:100px;
  top:1312px;
  width:53px;
  height:84px;
  text-align:left;
}
#u20298 {
  position:absolute;
  left:2px;
  top:34px;
  width:49px;
  word-wrap:break-word;
}
#u20299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:84px;
}
#u20299 {
  position:absolute;
  left:153px;
  top:1312px;
  width:147px;
  height:84px;
  text-align:left;
}
#u20300 {
  position:absolute;
  left:2px;
  top:34px;
  width:143px;
  word-wrap:break-word;
}
#u20301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:84px;
}
#u20301 {
  position:absolute;
  left:300px;
  top:1312px;
  width:427px;
  height:84px;
  text-align:left;
}
#u20302 {
  position:absolute;
  left:2px;
  top:34px;
  width:423px;
  word-wrap:break-word;
}
#u20303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u20303 {
  position:absolute;
  left:727px;
  top:1312px;
  width:75px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u20304 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  word-wrap:break-word;
}
#u20305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:84px;
}
#u20305 {
  position:absolute;
  left:802px;
  top:1312px;
  width:87px;
  height:84px;
  text-align:left;
}
#u20306 {
  position:absolute;
  left:2px;
  top:34px;
  width:83px;
  word-wrap:break-word;
}
#u20307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:84px;
}
#u20307 {
  position:absolute;
  left:889px;
  top:1312px;
  width:55px;
  height:84px;
  text-align:left;
}
#u20308 {
  position:absolute;
  left:2px;
  top:34px;
  width:51px;
  word-wrap:break-word;
}
#u20309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u20309 {
  position:absolute;
  left:0px;
  top:1396px;
  width:100px;
  height:84px;
  text-align:left;
}
#u20310 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u20311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:84px;
}
#u20311 {
  position:absolute;
  left:100px;
  top:1396px;
  width:53px;
  height:84px;
  text-align:left;
}
#u20312 {
  position:absolute;
  left:2px;
  top:34px;
  width:49px;
  word-wrap:break-word;
}
#u20313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:84px;
}
#u20313 {
  position:absolute;
  left:153px;
  top:1396px;
  width:147px;
  height:84px;
  text-align:left;
}
#u20314 {
  position:absolute;
  left:2px;
  top:34px;
  width:143px;
  word-wrap:break-word;
}
#u20315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:84px;
}
#u20315 {
  position:absolute;
  left:300px;
  top:1396px;
  width:427px;
  height:84px;
  text-align:left;
}
#u20316 {
  position:absolute;
  left:2px;
  top:34px;
  width:423px;
  word-wrap:break-word;
}
#u20317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u20317 {
  position:absolute;
  left:727px;
  top:1396px;
  width:75px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u20318 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  word-wrap:break-word;
}
#u20319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:84px;
}
#u20319 {
  position:absolute;
  left:802px;
  top:1396px;
  width:87px;
  height:84px;
  text-align:left;
}
#u20320 {
  position:absolute;
  left:2px;
  top:34px;
  width:83px;
  word-wrap:break-word;
}
#u20321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:84px;
}
#u20321 {
  position:absolute;
  left:889px;
  top:1396px;
  width:55px;
  height:84px;
  text-align:left;
}
#u20322 {
  position:absolute;
  left:2px;
  top:34px;
  width:51px;
  word-wrap:break-word;
}
#u20323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u20323 {
  position:absolute;
  left:0px;
  top:1480px;
  width:100px;
  height:100px;
  text-align:left;
}
#u20324 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u20325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:100px;
}
#u20325 {
  position:absolute;
  left:100px;
  top:1480px;
  width:53px;
  height:100px;
  text-align:left;
}
#u20326 {
  position:absolute;
  left:2px;
  top:42px;
  width:49px;
  word-wrap:break-word;
}
#u20327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:100px;
}
#u20327 {
  position:absolute;
  left:153px;
  top:1480px;
  width:147px;
  height:100px;
  text-align:left;
}
#u20328 {
  position:absolute;
  left:2px;
  top:42px;
  width:143px;
  word-wrap:break-word;
}
#u20329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:100px;
}
#u20329 {
  position:absolute;
  left:300px;
  top:1480px;
  width:427px;
  height:100px;
  text-align:left;
}
#u20330 {
  position:absolute;
  left:2px;
  top:34px;
  width:423px;
  word-wrap:break-word;
}
#u20331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:100px;
}
#u20331 {
  position:absolute;
  left:727px;
  top:1480px;
  width:75px;
  height:100px;
  color:#FF0000;
  text-align:left;
}
#u20332 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  word-wrap:break-word;
}
#u20333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:100px;
}
#u20333 {
  position:absolute;
  left:802px;
  top:1480px;
  width:87px;
  height:100px;
  text-align:left;
}
#u20334 {
  position:absolute;
  left:2px;
  top:42px;
  width:83px;
  word-wrap:break-word;
}
#u20335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:100px;
}
#u20335 {
  position:absolute;
  left:889px;
  top:1480px;
  width:55px;
  height:100px;
  text-align:left;
}
#u20336 {
  position:absolute;
  left:2px;
  top:42px;
  width:51px;
  word-wrap:break-word;
}
#u20337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u20337 {
  position:absolute;
  left:0px;
  top:1580px;
  width:100px;
  height:68px;
  text-align:left;
}
#u20338 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u20339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:68px;
}
#u20339 {
  position:absolute;
  left:100px;
  top:1580px;
  width:53px;
  height:68px;
  text-align:left;
}
#u20340 {
  position:absolute;
  left:2px;
  top:26px;
  width:49px;
  word-wrap:break-word;
}
#u20341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:68px;
}
#u20341 {
  position:absolute;
  left:153px;
  top:1580px;
  width:147px;
  height:68px;
  text-align:left;
}
#u20342 {
  position:absolute;
  left:2px;
  top:26px;
  width:143px;
  word-wrap:break-word;
}
#u20343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:68px;
}
#u20343 {
  position:absolute;
  left:300px;
  top:1580px;
  width:427px;
  height:68px;
  text-align:left;
}
#u20344 {
  position:absolute;
  left:2px;
  top:26px;
  width:423px;
  word-wrap:break-word;
}
#u20345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u20345 {
  position:absolute;
  left:727px;
  top:1580px;
  width:75px;
  height:68px;
  color:#FF0000;
  text-align:left;
}
#u20346 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u20347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u20347 {
  position:absolute;
  left:802px;
  top:1580px;
  width:87px;
  height:68px;
  text-align:left;
}
#u20348 {
  position:absolute;
  left:2px;
  top:26px;
  width:83px;
  word-wrap:break-word;
}
#u20349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u20349 {
  position:absolute;
  left:889px;
  top:1580px;
  width:55px;
  height:68px;
  text-align:left;
}
#u20350 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u20351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u20351 {
  position:absolute;
  left:0px;
  top:1648px;
  width:100px;
  height:84px;
  text-align:left;
}
#u20352 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u20353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:84px;
}
#u20353 {
  position:absolute;
  left:100px;
  top:1648px;
  width:53px;
  height:84px;
  text-align:left;
}
#u20354 {
  position:absolute;
  left:2px;
  top:34px;
  width:49px;
  word-wrap:break-word;
}
#u20355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:84px;
}
#u20355 {
  position:absolute;
  left:153px;
  top:1648px;
  width:147px;
  height:84px;
  text-align:left;
}
#u20356 {
  position:absolute;
  left:2px;
  top:34px;
  width:143px;
  word-wrap:break-word;
}
#u20357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:84px;
}
#u20357 {
  position:absolute;
  left:300px;
  top:1648px;
  width:427px;
  height:84px;
  text-align:left;
}
#u20358 {
  position:absolute;
  left:2px;
  top:34px;
  width:423px;
  word-wrap:break-word;
}
#u20359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u20359 {
  position:absolute;
  left:727px;
  top:1648px;
  width:75px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u20360 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  word-wrap:break-word;
}
#u20361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:84px;
}
#u20361 {
  position:absolute;
  left:802px;
  top:1648px;
  width:87px;
  height:84px;
  text-align:left;
}
#u20362 {
  position:absolute;
  left:2px;
  top:34px;
  width:83px;
  word-wrap:break-word;
}
#u20363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:84px;
}
#u20363 {
  position:absolute;
  left:889px;
  top:1648px;
  width:55px;
  height:84px;
  text-align:left;
}
#u20364 {
  position:absolute;
  left:2px;
  top:34px;
  width:51px;
  word-wrap:break-word;
}
#u20365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u20365 {
  position:absolute;
  left:0px;
  top:1732px;
  width:100px;
  height:84px;
  text-align:left;
}
#u20366 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u20367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:84px;
}
#u20367 {
  position:absolute;
  left:100px;
  top:1732px;
  width:53px;
  height:84px;
  text-align:left;
}
#u20368 {
  position:absolute;
  left:2px;
  top:34px;
  width:49px;
  word-wrap:break-word;
}
#u20369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:84px;
}
#u20369 {
  position:absolute;
  left:153px;
  top:1732px;
  width:147px;
  height:84px;
  text-align:left;
}
#u20370 {
  position:absolute;
  left:2px;
  top:34px;
  width:143px;
  word-wrap:break-word;
}
#u20371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:84px;
}
#u20371 {
  position:absolute;
  left:300px;
  top:1732px;
  width:427px;
  height:84px;
  text-align:left;
}
#u20372 {
  position:absolute;
  left:2px;
  top:34px;
  width:423px;
  word-wrap:break-word;
}
#u20373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u20373 {
  position:absolute;
  left:727px;
  top:1732px;
  width:75px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u20374 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  word-wrap:break-word;
}
#u20375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:84px;
}
#u20375 {
  position:absolute;
  left:802px;
  top:1732px;
  width:87px;
  height:84px;
  text-align:left;
}
#u20376 {
  position:absolute;
  left:2px;
  top:34px;
  width:83px;
  word-wrap:break-word;
}
#u20377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:84px;
}
#u20377 {
  position:absolute;
  left:889px;
  top:1732px;
  width:55px;
  height:84px;
  text-align:left;
}
#u20378 {
  position:absolute;
  left:2px;
  top:34px;
  width:51px;
  word-wrap:break-word;
}
