body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:854px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:48px;
}
#u16686 {
  position:absolute;
  left:183px;
  top:65px;
  width:671px;
  height:48px;
}
#u16687 {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  word-wrap:break-word;
}
#u16688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:16px;
}
#u16688 {
  position:absolute;
  left:183px;
  top:181px;
  width:360px;
  height:16px;
}
#u16689 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u16690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u16690 {
  position:absolute;
  left:183px;
  top:219px;
  width:360px;
  height:640px;
}
#u16691 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u16692 {
  position:absolute;
  left:218px;
  top:328px;
  width:80px;
  height:80px;
}
#u16693 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16694 {
  position:absolute;
  left:218px;
  top:328px;
  width:80px;
  height:80px;
  opacity:0.7;
  color:#FFFFFF;
}
#u16695 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u16696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u16696 {
  position:absolute;
  left:218px;
  top:610px;
  width:80px;
  height:80px;
}
#u16697 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16698 {
  position:absolute;
  left:218px;
  top:610px;
  width:80px;
  height:80px;
  opacity:0.7;
  color:#FFFFFF;
}
#u16699 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
