body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:854px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:48px;
}
#u16320 {
  position:absolute;
  left:183px;
  top:65px;
  width:671px;
  height:48px;
}
#u16321 {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  word-wrap:break-word;
}
#u16322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:16px;
}
#u16322 {
  position:absolute;
  left:183px;
  top:181px;
  width:360px;
  height:16px;
}
#u16323 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u16324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u16324 {
  position:absolute;
  left:183px;
  top:219px;
  width:360px;
  height:640px;
}
#u16325 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u16326 {
  position:absolute;
  left:218px;
  top:328px;
  width:80px;
  height:80px;
}
#u16327 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16328 {
  position:absolute;
  left:218px;
  top:328px;
  width:80px;
  height:80px;
  opacity:0.7;
  color:#FFFFFF;
}
#u16329 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u16330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u16330 {
  position:absolute;
  left:218px;
  top:610px;
  width:80px;
  height:80px;
}
#u16331 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16332 {
  position:absolute;
  left:218px;
  top:610px;
  width:80px;
  height:80px;
  opacity:0.7;
  color:#FFFFFF;
}
#u16333 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
