body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14889 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
}
#u14890 {
  position:absolute;
  left:2px;
  top:724px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:2px;
}
#u14891 {
  position:absolute;
  left:40px;
  top:115px;
  width:1130px;
  height:1px;
}
#u14892 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u14893 {
  position:absolute;
  left:40px;
  top:20px;
  width:80px;
  height:80px;
}
#u14894 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14895 {
  position:absolute;
  left:147px;
  top:42px;
  width:129px;
  height:37px;
}
#u14896 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u14897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14897 {
  position:absolute;
  left:147px;
  top:84px;
  width:105px;
  height:16px;
}
#u14898 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u14899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14899 {
  position:absolute;
  left:1030px;
  top:6px;
  width:87px;
  height:16px;
}
#u14900 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u14901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u14901 {
  position:absolute;
  left:1130px;
  top:6px;
  width:1px;
  height:16px;
}
#u14902 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14903 {
  position:absolute;
  left:1141px;
  top:6px;
  width:29px;
  height:16px;
}
#u14904 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:56px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14907 {
  position:absolute;
  left:0px;
  top:1464px;
  width:1200px;
  height:56px;
  color:#FFFFFF;
}
#u14908 {
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14909 {
  position:absolute;
  left:489px;
  top:1481px;
  width:222px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14910 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u14911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14911 {
  position:absolute;
  left:1080px;
  top:77px;
  width:90px;
  height:30px;
}
#u14911_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14911.mouseOver {
}
#u14911_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14911.mouseDown {
}
#u14911_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14911.selected {
}
#u14912 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u14913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14913 {
  position:absolute;
  left:991px;
  top:77px;
  width:90px;
  height:30px;
}
#u14913_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14913.mouseOver {
}
#u14913_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14913.mouseDown {
}
#u14913_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14913.selected {
}
#u14914 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u14915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14915 {
  position:absolute;
  left:902px;
  top:77px;
  width:90px;
  height:30px;
}
#u14915_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14915.mouseOver {
}
#u14915_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14915.mouseDown {
}
#u14915_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14915.selected {
}
#u14916 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u14917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:1254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14917 {
  position:absolute;
  left:42px;
  top:153px;
  width:1128px;
  height:1254px;
}
#u14918 {
  position:absolute;
  left:2px;
  top:619px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14919 {
  position:absolute;
  left:84px;
  top:180px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14920 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u14921 {
  position:absolute;
  left:84px;
  top:220px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u14922 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u14923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u14923 {
  position:absolute;
  left:84px;
  top:272px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u14924 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u14925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u14925 {
  position:absolute;
  left:84px;
  top:324px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u14926 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u14927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u14927 {
  position:absolute;
  left:84px;
  top:376px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u14928 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u14929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u14929 {
  position:absolute;
  left:84px;
  top:428px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u14930 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u14931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u14931 {
  position:absolute;
  left:84px;
  top:481px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u14932 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u14933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u14933 {
  position:absolute;
  left:84px;
  top:533px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u14934 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u14935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u14935 {
  position:absolute;
  left:84px;
  top:585px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u14936 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u14937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u14937 {
  position:absolute;
  left:84px;
  top:637px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u14938 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u14939 {
  position:absolute;
  left:515px;
  top:1357px;
}
#u14939_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
}
#u14939_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14940 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u14941 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14942 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u14943 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14944 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u14945 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14946 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u14947 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14948 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u14949 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14950 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u14951 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14939_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u14939_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14952 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14953 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14954 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u14955 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14956 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u14957 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14958 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u14959 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14960 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u14961 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14962 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u14963 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14939_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u14939_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14964 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14965 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14966 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u14967 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14968 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u14969 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14970 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u14971 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14972 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u14973 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14974 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u14975 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14939_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u14939_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14976 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14977 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14978 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u14979 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14980 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u14981 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14982 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u14983 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14984 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u14985 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14986 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u14987 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14939_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u14939_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14988 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14989 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14990 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u14991 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14992 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u14993 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14994 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u14995 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14996 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u14997 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14998 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u14999 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14939_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u14939_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15000 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15001 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15002 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u15003 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15004 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u15005 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15006 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u15007 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15008 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u15009 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15010 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u15011 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15012 {
  position:absolute;
  left:485px;
  top:1357px;
  width:20px;
  height:20px;
}
#u15012_img.disabled {
}
#u15012.disabled {
}
#u15013 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15014 {
  position:absolute;
  left:695px;
  top:1357px;
  width:20px;
  height:20px;
}
#u15014_img.disabled {
}
#u15014.disabled {
}
#u15015 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15017 {
  position:absolute;
  left:133px;
  top:222px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15017_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15017.mouseOver {
}
#u15018 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15019 {
  position:absolute;
  left:864px;
  top:230px;
  width:159px;
  height:16px;
}
#u15019_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15019.mouseOver {
}
#u15020 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15022 {
  position:absolute;
  left:133px;
  top:274px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15022_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15022.mouseOver {
}
#u15023 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15024 {
  position:absolute;
  left:864px;
  top:282px;
  width:159px;
  height:16px;
}
#u15024_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15024.mouseOver {
}
#u15025 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15027 {
  position:absolute;
  left:133px;
  top:588px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15028 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15029 {
  position:absolute;
  left:864px;
  top:596px;
  width:159px;
  height:16px;
}
#u15030 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15032 {
  position:absolute;
  left:133px;
  top:640px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15033 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15034 {
  position:absolute;
  left:864px;
  top:648px;
  width:159px;
  height:16px;
}
#u15035 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15037 {
  position:absolute;
  left:133px;
  top:326px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15037_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15037.mouseOver {
}
#u15038 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15039 {
  position:absolute;
  left:864px;
  top:334px;
  width:159px;
  height:16px;
}
#u15039_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15039.mouseOver {
}
#u15040 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15042 {
  position:absolute;
  left:133px;
  top:379px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15043 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15044 {
  position:absolute;
  left:864px;
  top:387px;
  width:159px;
  height:16px;
}
#u15045 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15047 {
  position:absolute;
  left:133px;
  top:431px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15048 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15049 {
  position:absolute;
  left:864px;
  top:439px;
  width:159px;
  height:16px;
}
#u15050 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15052 {
  position:absolute;
  left:133px;
  top:483px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15053 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15054 {
  position:absolute;
  left:864px;
  top:491px;
  width:159px;
  height:16px;
}
#u15055 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15057 {
  position:absolute;
  left:133px;
  top:535px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15058 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15059 {
  position:absolute;
  left:864px;
  top:543px;
  width:159px;
  height:16px;
}
#u15060 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15061 {
  position:absolute;
  left:38px;
  top:126px;
  width:83px;
  height:16px;
  font-size:16px;
}
#u15062 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u15063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15063 {
  position:absolute;
  left:126px;
  top:126px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u15064 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
