body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15644 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
}
#u15645 {
  position:absolute;
  left:2px;
  top:724px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:2px;
}
#u15646 {
  position:absolute;
  left:40px;
  top:115px;
  width:1130px;
  height:1px;
}
#u15647 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u15648 {
  position:absolute;
  left:40px;
  top:20px;
  width:80px;
  height:80px;
}
#u15649 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15650 {
  position:absolute;
  left:147px;
  top:42px;
  width:129px;
  height:37px;
}
#u15651 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u15652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15652 {
  position:absolute;
  left:147px;
  top:84px;
  width:105px;
  height:16px;
}
#u15653 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u15654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15654 {
  position:absolute;
  left:1030px;
  top:6px;
  width:87px;
  height:16px;
}
#u15655 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u15656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u15656 {
  position:absolute;
  left:1130px;
  top:6px;
  width:1px;
  height:16px;
}
#u15657 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15658 {
  position:absolute;
  left:1141px;
  top:6px;
  width:29px;
  height:16px;
}
#u15659 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u15661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:56px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15662 {
  position:absolute;
  left:0px;
  top:1464px;
  width:1200px;
  height:56px;
  color:#FFFFFF;
}
#u15663 {
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15664 {
  position:absolute;
  left:489px;
  top:1481px;
  width:222px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15665 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u15666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15666 {
  position:absolute;
  left:1080px;
  top:77px;
  width:90px;
  height:30px;
}
#u15666_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15666.mouseOver {
}
#u15666_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15666.mouseDown {
}
#u15666_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15666.selected {
}
#u15667 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u15668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15668 {
  position:absolute;
  left:991px;
  top:77px;
  width:90px;
  height:30px;
}
#u15668_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15668.mouseOver {
}
#u15668_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15668.mouseDown {
}
#u15668_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15668.selected {
}
#u15669 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u15670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15670 {
  position:absolute;
  left:902px;
  top:77px;
  width:90px;
  height:30px;
}
#u15670_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15670.mouseOver {
}
#u15670_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15670.mouseDown {
}
#u15670_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15670.selected {
}
#u15671 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u15672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:1254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15672 {
  position:absolute;
  left:42px;
  top:153px;
  width:1128px;
  height:1254px;
}
#u15673 {
  position:absolute;
  left:2px;
  top:619px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15674 {
  position:absolute;
  left:84px;
  top:180px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15675 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u15676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u15676 {
  position:absolute;
  left:84px;
  top:220px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u15677 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u15678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u15678 {
  position:absolute;
  left:84px;
  top:272px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u15679 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u15680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u15680 {
  position:absolute;
  left:84px;
  top:324px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u15681 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u15682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u15682 {
  position:absolute;
  left:84px;
  top:376px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u15683 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u15684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u15684 {
  position:absolute;
  left:84px;
  top:428px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u15685 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u15686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u15686 {
  position:absolute;
  left:84px;
  top:481px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u15687 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u15688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u15688 {
  position:absolute;
  left:84px;
  top:533px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u15689 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u15690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u15690 {
  position:absolute;
  left:84px;
  top:585px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u15691 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u15692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u15692 {
  position:absolute;
  left:84px;
  top:637px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u15693 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u15694 {
  position:absolute;
  left:515px;
  top:1357px;
}
#u15694_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
}
#u15694_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15695 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u15696 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15697 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u15698 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15699 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u15700 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15701 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u15702 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15703 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u15704 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15705 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u15706 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15694_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u15694_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15707 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15708 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15709 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u15710 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15711 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u15712 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15713 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u15714 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15715 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u15716 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15717 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u15718 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15694_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u15694_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15719 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15720 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15721 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u15722 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15723 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u15724 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15725 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u15726 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15727 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u15728 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15729 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u15730 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15694_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u15694_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15731 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15732 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15733 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u15734 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15735 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u15736 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15737 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u15738 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15739 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u15740 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15741 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u15742 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15694_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u15694_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15743 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15744 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15745 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u15746 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15747 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u15748 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15749 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u15750 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15751 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u15752 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15753 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u15754 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15694_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u15694_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15755 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15756 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15757 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u15758 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15759 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u15760 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15761 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u15762 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15763 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u15764 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15765 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u15766 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15767 {
  position:absolute;
  left:485px;
  top:1357px;
  width:20px;
  height:20px;
}
#u15767_img.disabled {
}
#u15767.disabled {
}
#u15768 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15769 {
  position:absolute;
  left:695px;
  top:1357px;
  width:20px;
  height:20px;
}
#u15769_img.disabled {
}
#u15769.disabled {
}
#u15770 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u15771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15772 {
  position:absolute;
  left:133px;
  top:222px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15772_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15772.mouseOver {
}
#u15773 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15774 {
  position:absolute;
  left:864px;
  top:230px;
  width:159px;
  height:16px;
}
#u15774_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15774.mouseOver {
}
#u15775 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15776 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15777 {
  position:absolute;
  left:133px;
  top:274px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15777_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15777.mouseOver {
}
#u15778 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15779 {
  position:absolute;
  left:864px;
  top:282px;
  width:159px;
  height:16px;
}
#u15779_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15779.mouseOver {
}
#u15780 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15781 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15782 {
  position:absolute;
  left:133px;
  top:588px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15783 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15784 {
  position:absolute;
  left:864px;
  top:596px;
  width:159px;
  height:16px;
}
#u15785 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15786 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15787 {
  position:absolute;
  left:133px;
  top:640px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15788 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15789 {
  position:absolute;
  left:864px;
  top:648px;
  width:159px;
  height:16px;
}
#u15790 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15791 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15792 {
  position:absolute;
  left:133px;
  top:326px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15792_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15792.mouseOver {
}
#u15793 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15794 {
  position:absolute;
  left:864px;
  top:334px;
  width:159px;
  height:16px;
}
#u15794_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15794.mouseOver {
}
#u15795 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15796 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15797 {
  position:absolute;
  left:133px;
  top:379px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15798 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15799 {
  position:absolute;
  left:864px;
  top:387px;
  width:159px;
  height:16px;
}
#u15800 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15802 {
  position:absolute;
  left:133px;
  top:431px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15803 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15804 {
  position:absolute;
  left:864px;
  top:439px;
  width:159px;
  height:16px;
}
#u15805 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15806 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15807 {
  position:absolute;
  left:133px;
  top:483px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15808 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15809 {
  position:absolute;
  left:864px;
  top:491px;
  width:159px;
  height:16px;
}
#u15810 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15812 {
  position:absolute;
  left:133px;
  top:535px;
  width:998px;
  height:31px;
  text-align:left;
}
#u15813 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u15814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15814 {
  position:absolute;
  left:864px;
  top:543px;
  width:159px;
  height:16px;
}
#u15815 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u15816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15816 {
  position:absolute;
  left:38px;
  top:126px;
  width:83px;
  height:16px;
  font-size:16px;
}
#u15817 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u15818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15818 {
  position:absolute;
  left:126px;
  top:126px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u15819 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
