body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16293 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
}
#u16294 {
  position:absolute;
  left:2px;
  top:724px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:2px;
}
#u16295 {
  position:absolute;
  left:40px;
  top:115px;
  width:1130px;
  height:1px;
}
#u16296 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u16297 {
  position:absolute;
  left:40px;
  top:20px;
  width:80px;
  height:80px;
}
#u16298 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16299 {
  position:absolute;
  left:147px;
  top:42px;
  width:129px;
  height:37px;
}
#u16300 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u16301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16301 {
  position:absolute;
  left:147px;
  top:84px;
  width:105px;
  height:16px;
}
#u16302 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u16303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16303 {
  position:absolute;
  left:1030px;
  top:6px;
  width:87px;
  height:16px;
}
#u16304 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u16305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u16305 {
  position:absolute;
  left:1130px;
  top:6px;
  width:1px;
  height:16px;
}
#u16306 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16307 {
  position:absolute;
  left:1141px;
  top:6px;
  width:29px;
  height:16px;
}
#u16308 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:56px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16311 {
  position:absolute;
  left:0px;
  top:1464px;
  width:1200px;
  height:56px;
  color:#FFFFFF;
}
#u16312 {
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16313 {
  position:absolute;
  left:489px;
  top:1481px;
  width:222px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16314 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u16315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16315 {
  position:absolute;
  left:1080px;
  top:77px;
  width:90px;
  height:30px;
}
#u16315_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16315.mouseOver {
}
#u16315_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16315.mouseDown {
}
#u16315_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16315.selected {
}
#u16316 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u16317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16317 {
  position:absolute;
  left:991px;
  top:77px;
  width:90px;
  height:30px;
}
#u16317_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16317.mouseOver {
}
#u16317_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16317.mouseDown {
}
#u16317_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16317.selected {
}
#u16318 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u16319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16319 {
  position:absolute;
  left:902px;
  top:77px;
  width:90px;
  height:30px;
}
#u16319_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16319.mouseOver {
}
#u16319_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16319.mouseDown {
}
#u16319_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16319.selected {
}
#u16320 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u16321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:1254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16321 {
  position:absolute;
  left:42px;
  top:153px;
  width:1128px;
  height:1254px;
}
#u16322 {
  position:absolute;
  left:2px;
  top:619px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16323 {
  position:absolute;
  left:84px;
  top:180px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16324 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u16325 {
  position:absolute;
  left:84px;
  top:220px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u16326 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u16327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u16327 {
  position:absolute;
  left:84px;
  top:272px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u16328 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u16329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u16329 {
  position:absolute;
  left:84px;
  top:324px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u16330 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u16331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u16331 {
  position:absolute;
  left:84px;
  top:376px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u16332 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u16333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u16333 {
  position:absolute;
  left:84px;
  top:428px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u16334 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u16335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u16335 {
  position:absolute;
  left:84px;
  top:481px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u16336 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u16337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u16337 {
  position:absolute;
  left:84px;
  top:533px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u16338 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u16339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u16339 {
  position:absolute;
  left:84px;
  top:585px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u16340 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u16341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u16341 {
  position:absolute;
  left:84px;
  top:637px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u16342 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u16343 {
  position:absolute;
  left:515px;
  top:1357px;
}
#u16343_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
}
#u16343_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16344 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u16345 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16346 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u16347 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16348 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u16349 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16350 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u16351 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16352 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u16353 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16354 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u16355 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16343_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u16343_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16356 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16357 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16358 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u16359 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16360 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u16361 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16362 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u16363 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16364 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u16365 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16366 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u16367 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16343_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u16343_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16368 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16369 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16370 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u16371 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16372 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u16373 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16374 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u16375 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16376 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u16377 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16378 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u16379 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16343_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u16343_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16380 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16381 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16382 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u16383 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16384 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u16385 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16386 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u16387 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16388 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u16389 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16390 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u16391 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16343_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u16343_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16392 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16393 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16394 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u16395 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16396 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u16397 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16398 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u16399 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16400 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u16401 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16402 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u16403 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16343_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u16343_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16404 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16405 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16406 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u16407 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16408 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u16409 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16410 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u16411 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16412 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u16413 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16414 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u16415 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16416 {
  position:absolute;
  left:485px;
  top:1357px;
  width:20px;
  height:20px;
}
#u16416_img.disabled {
}
#u16416.disabled {
}
#u16417 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16418 {
  position:absolute;
  left:695px;
  top:1357px;
  width:20px;
  height:20px;
}
#u16418_img.disabled {
}
#u16418.disabled {
}
#u16419 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16421 {
  position:absolute;
  left:133px;
  top:222px;
  width:998px;
  height:31px;
  text-align:left;
}
#u16421_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16421.mouseOver {
}
#u16422 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u16423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16423 {
  position:absolute;
  left:864px;
  top:230px;
  width:159px;
  height:16px;
}
#u16423_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16423.mouseOver {
}
#u16424 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u16425 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16426 {
  position:absolute;
  left:133px;
  top:274px;
  width:998px;
  height:31px;
  text-align:left;
}
#u16426_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16426.mouseOver {
}
#u16427 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u16428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16428 {
  position:absolute;
  left:864px;
  top:282px;
  width:159px;
  height:16px;
}
#u16428_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16428.mouseOver {
}
#u16429 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u16430 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16431 {
  position:absolute;
  left:133px;
  top:588px;
  width:998px;
  height:31px;
  text-align:left;
}
#u16432 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u16433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16433 {
  position:absolute;
  left:864px;
  top:596px;
  width:159px;
  height:16px;
}
#u16434 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u16435 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16436 {
  position:absolute;
  left:133px;
  top:640px;
  width:998px;
  height:31px;
  text-align:left;
}
#u16437 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u16438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16438 {
  position:absolute;
  left:864px;
  top:648px;
  width:159px;
  height:16px;
}
#u16439 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u16440 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16441 {
  position:absolute;
  left:133px;
  top:326px;
  width:998px;
  height:31px;
  text-align:left;
}
#u16441_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16441.mouseOver {
}
#u16442 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u16443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16443 {
  position:absolute;
  left:864px;
  top:334px;
  width:159px;
  height:16px;
}
#u16443_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16443.mouseOver {
}
#u16444 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u16445 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16446 {
  position:absolute;
  left:133px;
  top:379px;
  width:998px;
  height:31px;
  text-align:left;
}
#u16447 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u16448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16448 {
  position:absolute;
  left:864px;
  top:387px;
  width:159px;
  height:16px;
}
#u16449 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u16450 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16451 {
  position:absolute;
  left:133px;
  top:431px;
  width:998px;
  height:31px;
  text-align:left;
}
#u16452 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u16453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16453 {
  position:absolute;
  left:864px;
  top:439px;
  width:159px;
  height:16px;
}
#u16454 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u16455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16456 {
  position:absolute;
  left:133px;
  top:483px;
  width:998px;
  height:31px;
  text-align:left;
}
#u16457 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u16458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16458 {
  position:absolute;
  left:864px;
  top:491px;
  width:159px;
  height:16px;
}
#u16459 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u16460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16461 {
  position:absolute;
  left:133px;
  top:535px;
  width:998px;
  height:31px;
  text-align:left;
}
#u16462 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u16463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16463 {
  position:absolute;
  left:864px;
  top:543px;
  width:159px;
  height:16px;
}
#u16464 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u16465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16465 {
  position:absolute;
  left:38px;
  top:126px;
  width:83px;
  height:16px;
  font-size:16px;
}
#u16466 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u16467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16467 {
  position:absolute;
  left:126px;
  top:126px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u16468 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
