body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23881 {
  position:absolute;
  left:100px;
  top:100px;
  width:1154px;
  height:1723px;
}
#u23882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u23882 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  text-align:left;
}
#u23883 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u23884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u23884 {
  position:absolute;
  left:84px;
  top:0px;
  width:142px;
  height:28px;
  text-align:left;
}
#u23885 {
  position:absolute;
  left:2px;
  top:2px;
  width:138px;
  word-wrap:break-word;
}
#u23886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:28px;
}
#u23886 {
  position:absolute;
  left:226px;
  top:0px;
  width:305px;
  height:28px;
  text-align:left;
}
#u23887 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u23888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:28px;
}
#u23888 {
  position:absolute;
  left:531px;
  top:0px;
  width:618px;
  height:28px;
  text-align:left;
}
#u23889 {
  position:absolute;
  left:2px;
  top:2px;
  width:614px;
  word-wrap:break-word;
}
#u23890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:132px;
}
#u23890 {
  position:absolute;
  left:0px;
  top:28px;
  width:84px;
  height:132px;
  text-align:left;
}
#u23891 {
  position:absolute;
  left:2px;
  top:54px;
  width:80px;
  word-wrap:break-word;
}
#u23892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:132px;
}
#u23892 {
  position:absolute;
  left:84px;
  top:28px;
  width:142px;
  height:132px;
  text-align:left;
}
#u23893 {
  position:absolute;
  left:2px;
  top:54px;
  width:138px;
  word-wrap:break-word;
}
#u23894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:132px;
}
#u23894 {
  position:absolute;
  left:226px;
  top:28px;
  width:305px;
  height:132px;
  text-align:left;
}
#u23895 {
  position:absolute;
  left:2px;
  top:46px;
  width:301px;
  word-wrap:break-word;
}
#u23896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:132px;
}
#u23896 {
  position:absolute;
  left:531px;
  top:28px;
  width:618px;
  height:132px;
  text-align:left;
}
#u23897 {
  position:absolute;
  left:2px;
  top:14px;
  width:614px;
  word-wrap:break-word;
}
#u23898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u23898 {
  position:absolute;
  left:0px;
  top:160px;
  width:84px;
  height:28px;
  text-align:left;
}
#u23899 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u23900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u23900 {
  position:absolute;
  left:84px;
  top:160px;
  width:142px;
  height:28px;
  text-align:left;
}
#u23901 {
  position:absolute;
  left:2px;
  top:2px;
  width:138px;
  word-wrap:break-word;
}
#u23902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:28px;
}
#u23902 {
  position:absolute;
  left:226px;
  top:160px;
  width:305px;
  height:28px;
  text-align:left;
}
#u23903 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:28px;
}
#u23904 {
  position:absolute;
  left:531px;
  top:160px;
  width:618px;
  height:28px;
  text-align:left;
}
#u23905 {
  position:absolute;
  left:2px;
  top:2px;
  width:614px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:156px;
}
#u23906 {
  position:absolute;
  left:0px;
  top:188px;
  width:84px;
  height:156px;
  text-align:left;
}
#u23907 {
  position:absolute;
  left:2px;
  top:66px;
  width:80px;
  word-wrap:break-word;
}
#u23908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:156px;
}
#u23908 {
  position:absolute;
  left:84px;
  top:188px;
  width:142px;
  height:156px;
  text-align:left;
}
#u23909 {
  position:absolute;
  left:2px;
  top:66px;
  width:138px;
  word-wrap:break-word;
}
#u23910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:156px;
}
#u23910 {
  position:absolute;
  left:226px;
  top:188px;
  width:305px;
  height:156px;
  text-align:left;
}
#u23911 {
  position:absolute;
  left:2px;
  top:58px;
  width:301px;
  word-wrap:break-word;
}
#u23912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:156px;
}
#u23912 {
  position:absolute;
  left:531px;
  top:188px;
  width:618px;
  height:156px;
  text-align:left;
}
#u23913 {
  position:absolute;
  left:2px;
  top:18px;
  width:614px;
  word-wrap:break-word;
}
#u23914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:44px;
}
#u23914 {
  position:absolute;
  left:0px;
  top:344px;
  width:84px;
  height:44px;
  text-align:left;
}
#u23915 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u23916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:44px;
}
#u23916 {
  position:absolute;
  left:84px;
  top:344px;
  width:142px;
  height:44px;
  text-align:left;
}
#u23917 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u23918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:44px;
}
#u23918 {
  position:absolute;
  left:226px;
  top:344px;
  width:305px;
  height:44px;
  text-align:left;
}
#u23919 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u23920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:44px;
}
#u23920 {
  position:absolute;
  left:531px;
  top:344px;
  width:618px;
  height:44px;
  text-align:left;
}
#u23921 {
  position:absolute;
  left:2px;
  top:10px;
  width:614px;
  word-wrap:break-word;
}
#u23922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:124px;
}
#u23922 {
  position:absolute;
  left:0px;
  top:388px;
  width:84px;
  height:124px;
  text-align:left;
}
#u23923 {
  position:absolute;
  left:2px;
  top:50px;
  width:80px;
  word-wrap:break-word;
}
#u23924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:124px;
}
#u23924 {
  position:absolute;
  left:84px;
  top:388px;
  width:142px;
  height:124px;
  text-align:left;
}
#u23925 {
  position:absolute;
  left:2px;
  top:50px;
  width:138px;
  word-wrap:break-word;
}
#u23926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:124px;
}
#u23926 {
  position:absolute;
  left:226px;
  top:388px;
  width:305px;
  height:124px;
  text-align:left;
}
#u23927 {
  position:absolute;
  left:2px;
  top:42px;
  width:301px;
  word-wrap:break-word;
}
#u23928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:124px;
}
#u23928 {
  position:absolute;
  left:531px;
  top:388px;
  width:618px;
  height:124px;
  text-align:left;
}
#u23929 {
  position:absolute;
  left:2px;
  top:2px;
  width:614px;
  word-wrap:break-word;
}
#u23930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:72px;
}
#u23930 {
  position:absolute;
  left:0px;
  top:512px;
  width:84px;
  height:72px;
  text-align:left;
}
#u23931 {
  position:absolute;
  left:2px;
  top:24px;
  width:80px;
  word-wrap:break-word;
}
#u23932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:72px;
}
#u23932 {
  position:absolute;
  left:84px;
  top:512px;
  width:142px;
  height:72px;
  text-align:left;
}
#u23933 {
  position:absolute;
  left:2px;
  top:24px;
  width:138px;
  word-wrap:break-word;
}
#u23934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:72px;
}
#u23934 {
  position:absolute;
  left:226px;
  top:512px;
  width:305px;
  height:72px;
  text-align:left;
}
#u23935 {
  position:absolute;
  left:2px;
  top:16px;
  width:301px;
  word-wrap:break-word;
}
#u23936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:72px;
}
#u23936 {
  position:absolute;
  left:531px;
  top:512px;
  width:618px;
  height:72px;
  text-align:left;
}
#u23937 {
  position:absolute;
  left:2px;
  top:16px;
  width:614px;
  word-wrap:break-word;
}
#u23938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
}
#u23938 {
  position:absolute;
  left:0px;
  top:584px;
  width:84px;
  height:60px;
  text-align:left;
}
#u23939 {
  position:absolute;
  left:2px;
  top:18px;
  width:80px;
  word-wrap:break-word;
}
#u23940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
}
#u23940 {
  position:absolute;
  left:84px;
  top:584px;
  width:142px;
  height:60px;
  text-align:left;
}
#u23941 {
  position:absolute;
  left:2px;
  top:18px;
  width:138px;
  word-wrap:break-word;
}
#u23942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:60px;
}
#u23942 {
  position:absolute;
  left:226px;
  top:584px;
  width:305px;
  height:60px;
  text-align:left;
}
#u23943 {
  position:absolute;
  left:2px;
  top:10px;
  width:301px;
  word-wrap:break-word;
}
#u23944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:60px;
}
#u23944 {
  position:absolute;
  left:531px;
  top:584px;
  width:618px;
  height:60px;
  text-align:left;
}
#u23945 {
  position:absolute;
  left:2px;
  top:2px;
  width:614px;
  word-wrap:break-word;
}
#u23946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:92px;
}
#u23946 {
  position:absolute;
  left:0px;
  top:644px;
  width:84px;
  height:92px;
  text-align:left;
}
#u23947 {
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  word-wrap:break-word;
}
#u23948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:92px;
}
#u23948 {
  position:absolute;
  left:84px;
  top:644px;
  width:142px;
  height:92px;
  text-align:left;
}
#u23949 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u23950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:92px;
}
#u23950 {
  position:absolute;
  left:226px;
  top:644px;
  width:305px;
  height:92px;
  text-align:left;
}
#u23951 {
  position:absolute;
  left:2px;
  top:26px;
  width:301px;
  word-wrap:break-word;
}
#u23952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:92px;
}
#u23952 {
  position:absolute;
  left:531px;
  top:644px;
  width:618px;
  height:92px;
  text-align:left;
}
#u23953 {
  position:absolute;
  left:2px;
  top:18px;
  width:614px;
  word-wrap:break-word;
}
#u23954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:144px;
}
#u23954 {
  position:absolute;
  left:0px;
  top:736px;
  width:84px;
  height:144px;
  text-align:left;
}
#u23955 {
  position:absolute;
  left:2px;
  top:60px;
  width:80px;
  word-wrap:break-word;
}
#u23956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:144px;
}
#u23956 {
  position:absolute;
  left:84px;
  top:736px;
  width:142px;
  height:144px;
  text-align:left;
}
#u23957 {
  position:absolute;
  left:2px;
  top:60px;
  width:138px;
  word-wrap:break-word;
}
#u23958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:144px;
}
#u23958 {
  position:absolute;
  left:226px;
  top:736px;
  width:305px;
  height:144px;
  text-align:left;
}
#u23959 {
  position:absolute;
  left:2px;
  top:52px;
  width:301px;
  word-wrap:break-word;
}
#u23960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:144px;
}
#u23960 {
  position:absolute;
  left:531px;
  top:736px;
  width:618px;
  height:144px;
  text-align:left;
}
#u23961 {
  position:absolute;
  left:2px;
  top:12px;
  width:614px;
  word-wrap:break-word;
}
#u23962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:150px;
}
#u23962 {
  position:absolute;
  left:0px;
  top:880px;
  width:84px;
  height:150px;
  text-align:left;
}
#u23963 {
  position:absolute;
  left:2px;
  top:63px;
  width:80px;
  word-wrap:break-word;
}
#u23964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:150px;
}
#u23964 {
  position:absolute;
  left:84px;
  top:880px;
  width:142px;
  height:150px;
  text-align:left;
}
#u23965 {
  position:absolute;
  left:2px;
  top:63px;
  width:138px;
  word-wrap:break-word;
}
#u23966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:150px;
}
#u23966 {
  position:absolute;
  left:226px;
  top:880px;
  width:305px;
  height:150px;
  text-align:left;
}
#u23967 {
  position:absolute;
  left:2px;
  top:55px;
  width:301px;
  word-wrap:break-word;
}
#u23968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:150px;
}
#u23968 {
  position:absolute;
  left:531px;
  top:880px;
  width:618px;
  height:150px;
  text-align:left;
}
#u23969 {
  position:absolute;
  left:2px;
  top:23px;
  width:614px;
  word-wrap:break-word;
}
#u23970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
}
#u23970 {
  position:absolute;
  left:0px;
  top:1030px;
  width:84px;
  height:60px;
  text-align:left;
}
#u23971 {
  position:absolute;
  left:2px;
  top:18px;
  width:80px;
  word-wrap:break-word;
}
#u23972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
}
#u23972 {
  position:absolute;
  left:84px;
  top:1030px;
  width:142px;
  height:60px;
  text-align:left;
}
#u23973 {
  position:absolute;
  left:2px;
  top:18px;
  width:138px;
  word-wrap:break-word;
}
#u23974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:60px;
}
#u23974 {
  position:absolute;
  left:226px;
  top:1030px;
  width:305px;
  height:60px;
  text-align:left;
}
#u23975 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u23976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:60px;
}
#u23976 {
  position:absolute;
  left:531px;
  top:1030px;
  width:618px;
  height:60px;
  text-align:left;
}
#u23977 {
  position:absolute;
  left:2px;
  top:18px;
  width:614px;
  word-wrap:break-word;
}
#u23978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:92px;
}
#u23978 {
  position:absolute;
  left:0px;
  top:1090px;
  width:84px;
  height:92px;
  text-align:left;
}
#u23979 {
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  word-wrap:break-word;
}
#u23980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:92px;
}
#u23980 {
  position:absolute;
  left:84px;
  top:1090px;
  width:142px;
  height:92px;
  text-align:left;
}
#u23981 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u23982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:92px;
}
#u23982 {
  position:absolute;
  left:226px;
  top:1090px;
  width:305px;
  height:92px;
  text-align:left;
}
#u23983 {
  position:absolute;
  left:2px;
  top:26px;
  width:301px;
  word-wrap:break-word;
}
#u23984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:92px;
}
#u23984 {
  position:absolute;
  left:531px;
  top:1090px;
  width:618px;
  height:92px;
  text-align:left;
}
#u23985 {
  position:absolute;
  left:2px;
  top:2px;
  width:614px;
  word-wrap:break-word;
}
#u23986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
}
#u23986 {
  position:absolute;
  left:0px;
  top:1182px;
  width:84px;
  height:60px;
  text-align:left;
}
#u23987 {
  position:absolute;
  left:2px;
  top:18px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
}
#u23988 {
  position:absolute;
  left:84px;
  top:1182px;
  width:142px;
  height:60px;
  text-align:left;
}
#u23989 {
  position:absolute;
  left:2px;
  top:18px;
  width:138px;
  word-wrap:break-word;
}
#u23990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:60px;
}
#u23990 {
  position:absolute;
  left:226px;
  top:1182px;
  width:305px;
  height:60px;
  text-align:left;
}
#u23991 {
  position:absolute;
  left:2px;
  top:10px;
  width:301px;
  word-wrap:break-word;
}
#u23992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:60px;
}
#u23992 {
  position:absolute;
  left:531px;
  top:1182px;
  width:618px;
  height:60px;
  text-align:left;
}
#u23993 {
  position:absolute;
  left:2px;
  top:2px;
  width:614px;
  word-wrap:break-word;
}
#u23994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:44px;
}
#u23994 {
  position:absolute;
  left:0px;
  top:1242px;
  width:84px;
  height:44px;
  text-align:left;
}
#u23995 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u23996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:44px;
}
#u23996 {
  position:absolute;
  left:84px;
  top:1242px;
  width:142px;
  height:44px;
  text-align:left;
}
#u23997 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u23998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:44px;
}
#u23998 {
  position:absolute;
  left:226px;
  top:1242px;
  width:305px;
  height:44px;
  text-align:left;
}
#u23999 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u24000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:44px;
}
#u24000 {
  position:absolute;
  left:531px;
  top:1242px;
  width:618px;
  height:44px;
  text-align:left;
}
#u24001 {
  position:absolute;
  left:2px;
  top:10px;
  width:614px;
  word-wrap:break-word;
}
#u24002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:44px;
}
#u24002 {
  position:absolute;
  left:0px;
  top:1286px;
  width:84px;
  height:44px;
  text-align:left;
}
#u24003 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u24004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:44px;
}
#u24004 {
  position:absolute;
  left:84px;
  top:1286px;
  width:142px;
  height:44px;
  text-align:left;
}
#u24005 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u24006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:44px;
}
#u24006 {
  position:absolute;
  left:226px;
  top:1286px;
  width:305px;
  height:44px;
  text-align:left;
}
#u24007 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u24008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:44px;
}
#u24008 {
  position:absolute;
  left:531px;
  top:1286px;
  width:618px;
  height:44px;
  text-align:left;
}
#u24009 {
  position:absolute;
  left:2px;
  top:10px;
  width:614px;
  word-wrap:break-word;
}
#u24010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:68px;
}
#u24010 {
  position:absolute;
  left:0px;
  top:1330px;
  width:84px;
  height:68px;
  text-align:left;
}
#u24011 {
  position:absolute;
  left:2px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u24012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:68px;
}
#u24012 {
  position:absolute;
  left:84px;
  top:1330px;
  width:142px;
  height:68px;
  text-align:left;
}
#u24013 {
  position:absolute;
  left:2px;
  top:22px;
  width:138px;
  word-wrap:break-word;
}
#u24014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:68px;
}
#u24014 {
  position:absolute;
  left:226px;
  top:1330px;
  width:305px;
  height:68px;
  text-align:left;
}
#u24015 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u24016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:68px;
}
#u24016 {
  position:absolute;
  left:531px;
  top:1330px;
  width:618px;
  height:68px;
  text-align:left;
}
#u24017 {
  position:absolute;
  left:2px;
  top:22px;
  width:614px;
  word-wrap:break-word;
}
#u24018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u24018 {
  position:absolute;
  left:0px;
  top:1398px;
  width:84px;
  height:84px;
  text-align:left;
}
#u24019 {
  position:absolute;
  left:2px;
  top:30px;
  width:80px;
  word-wrap:break-word;
}
#u24020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:84px;
}
#u24020 {
  position:absolute;
  left:84px;
  top:1398px;
  width:142px;
  height:84px;
  text-align:left;
}
#u24021 {
  position:absolute;
  left:2px;
  top:30px;
  width:138px;
  word-wrap:break-word;
}
#u24022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:84px;
}
#u24022 {
  position:absolute;
  left:226px;
  top:1398px;
  width:305px;
  height:84px;
  text-align:left;
}
#u24023 {
  position:absolute;
  left:2px;
  top:22px;
  width:301px;
  word-wrap:break-word;
}
#u24024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:84px;
}
#u24024 {
  position:absolute;
  left:531px;
  top:1398px;
  width:618px;
  height:84px;
  text-align:left;
}
#u24025 {
  position:absolute;
  left:2px;
  top:22px;
  width:614px;
  word-wrap:break-word;
}
#u24026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:47px;
}
#u24026 {
  position:absolute;
  left:0px;
  top:1482px;
  width:84px;
  height:47px;
  text-align:left;
}
#u24027 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u24028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:47px;
}
#u24028 {
  position:absolute;
  left:84px;
  top:1482px;
  width:142px;
  height:47px;
  text-align:left;
}
#u24029 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u24030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:47px;
}
#u24030 {
  position:absolute;
  left:226px;
  top:1482px;
  width:305px;
  height:47px;
  text-align:left;
}
#u24031 {
  position:absolute;
  left:2px;
  top:4px;
  width:301px;
  word-wrap:break-word;
}
#u24032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:47px;
}
#u24032 {
  position:absolute;
  left:531px;
  top:1482px;
  width:618px;
  height:47px;
  text-align:left;
}
#u24033 {
  position:absolute;
  left:2px;
  top:4px;
  width:614px;
  word-wrap:break-word;
}
#u24034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:88px;
}
#u24034 {
  position:absolute;
  left:0px;
  top:1529px;
  width:84px;
  height:88px;
  text-align:left;
}
#u24035 {
  position:absolute;
  left:2px;
  top:32px;
  width:80px;
  word-wrap:break-word;
}
#u24036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:88px;
}
#u24036 {
  position:absolute;
  left:84px;
  top:1529px;
  width:142px;
  height:88px;
  text-align:left;
}
#u24037 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u24038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:88px;
}
#u24038 {
  position:absolute;
  left:226px;
  top:1529px;
  width:305px;
  height:88px;
  text-align:left;
}
#u24039 {
  position:absolute;
  left:2px;
  top:24px;
  width:301px;
  word-wrap:break-word;
}
#u24040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:88px;
}
#u24040 {
  position:absolute;
  left:531px;
  top:1529px;
  width:618px;
  height:88px;
  text-align:left;
}
#u24041 {
  position:absolute;
  left:2px;
  top:16px;
  width:614px;
  word-wrap:break-word;
}
#u24042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:101px;
}
#u24042 {
  position:absolute;
  left:0px;
  top:1617px;
  width:84px;
  height:101px;
  text-align:left;
}
#u24043 {
  position:absolute;
  left:2px;
  top:38px;
  width:80px;
  word-wrap:break-word;
}
#u24044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:101px;
}
#u24044 {
  position:absolute;
  left:84px;
  top:1617px;
  width:142px;
  height:101px;
  text-align:left;
}
#u24045 {
  position:absolute;
  left:2px;
  top:38px;
  width:138px;
  word-wrap:break-word;
}
#u24046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:101px;
}
#u24046 {
  position:absolute;
  left:226px;
  top:1617px;
  width:305px;
  height:101px;
  text-align:left;
}
#u24047 {
  position:absolute;
  left:2px;
  top:30px;
  width:301px;
  word-wrap:break-word;
}
#u24048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:101px;
}
#u24048 {
  position:absolute;
  left:531px;
  top:1617px;
  width:618px;
  height:101px;
  text-align:left;
}
#u24049 {
  position:absolute;
  left:2px;
  top:14px;
  width:614px;
  word-wrap:break-word;
}
