body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:655px;
}
#u22956 {
  position:absolute;
  left:20px;
  top:50px;
  width:360px;
  height:655px;
}
#u22957 {
  position:absolute;
  left:2px;
  top:320px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:864px;
}
#u22958 {
  position:absolute;
  left:499px;
  top:50px;
  width:360px;
  height:864px;
}
#u22959 {
  position:absolute;
  left:2px;
  top:424px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u22960 {
  position:absolute;
  left:87px;
  top:368px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u22961 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u22962 {
  position:absolute;
  left:191px;
  top:368px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u22963 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u22964 {
  position:absolute;
  left:639px;
  top:369px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u22965 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u22966 {
  position:absolute;
  left:778px;
  top:369px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u22967 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u22968 {
  position:absolute;
  left:639px;
  top:399px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u22969 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u22970 {
  position:absolute;
  left:778px;
  top:399px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u22971 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u22972 {
  position:absolute;
  left:639px;
  top:429px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u22973 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u22974 {
  position:absolute;
  left:778px;
  top:429px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u22975 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u22976 {
  position:absolute;
  left:639px;
  top:458px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u22977 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u22978 {
  position:absolute;
  left:778px;
  top:458px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u22979 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u22980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 176, 112, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4CB070;
}
#u22980 {
  position:absolute;
  left:237px;
  top:361px;
  width:118px;
  height:28px;
  color:#4CB070;
}
#u22981 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u22982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 176, 112, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4CB070;
}
#u22982 {
  position:absolute;
  left:621px;
  top:497px;
  width:118px;
  height:28px;
  color:#4CB070;
}
#u22983 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u22984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22984 {
  position:absolute;
  left:28px;
  top:429px;
  width:343px;
  height:18px;
}
#u22985 {
  position:absolute;
  left:2px;
  top:1px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22986 {
  position:absolute;
  left:509px;
  top:573px;
  width:343px;
  height:18px;
}
#u22987 {
  position:absolute;
  left:2px;
  top:1px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22988 {
  position:absolute;
  left:955px;
  top:447px;
  width:375px;
  height:16px;
}
#u22989 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  white-space:nowrap;
}
