body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:655px;
}
#u20571 {
  position:absolute;
  left:72px;
  top:44px;
  width:360px;
  height:655px;
}
#u20572 {
  position:absolute;
  left:2px;
  top:320px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:864px;
}
#u20573 {
  position:absolute;
  left:551px;
  top:44px;
  width:360px;
  height:864px;
}
#u20574 {
  position:absolute;
  left:2px;
  top:424px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u20575 {
  position:absolute;
  left:139px;
  top:362px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u20576 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u20577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u20577 {
  position:absolute;
  left:243px;
  top:362px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u20578 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u20579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u20579 {
  position:absolute;
  left:691px;
  top:363px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u20580 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u20581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u20581 {
  position:absolute;
  left:830px;
  top:363px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u20582 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u20583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u20583 {
  position:absolute;
  left:691px;
  top:393px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u20584 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u20585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u20585 {
  position:absolute;
  left:830px;
  top:393px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u20586 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u20587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u20587 {
  position:absolute;
  left:691px;
  top:423px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u20588 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u20589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u20589 {
  position:absolute;
  left:830px;
  top:423px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u20590 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u20591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u20591 {
  position:absolute;
  left:691px;
  top:452px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u20592 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u20593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4CB070;
}
#u20593 {
  position:absolute;
  left:830px;
  top:452px;
  width:29px;
  height:18px;
  font-size:11px;
  color:#4CB070;
}
#u20594 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u20595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 176, 112, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4CB070;
}
#u20595 {
  position:absolute;
  left:289px;
  top:355px;
  width:118px;
  height:28px;
  color:#4CB070;
}
#u20596 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u20597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 176, 112, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4CB070;
}
#u20597 {
  position:absolute;
  left:673px;
  top:491px;
  width:118px;
  height:28px;
  color:#4CB070;
}
#u20598 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u20599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20599 {
  position:absolute;
  left:80px;
  top:423px;
  width:343px;
  height:18px;
}
#u20600 {
  position:absolute;
  left:2px;
  top:1px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20601 {
  position:absolute;
  left:561px;
  top:567px;
  width:343px;
  height:18px;
}
#u20602 {
  position:absolute;
  left:2px;
  top:1px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
