body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1628px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u234 {
  position:absolute;
  left:98px;
  top:50px;
  width:181px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u236 {
  position:absolute;
  left:95px;
  top:769px;
  width:200px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u238 {
  position:absolute;
  left:1268px;
  top:563px;
  width:360px;
  height:640px;
}
#u239 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u240 {
  position:absolute;
  left:98px;
  top:94px;
  width:360px;
  height:640px;
}
#u241 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u242 {
  position:absolute;
  left:98px;
  top:818px;
  width:360px;
  height:640px;
}
#u243 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u244 {
  position:absolute;
  left:860px;
  top:98px;
  width:360px;
  height:640px;
}
#u245 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u246 {
  position:absolute;
  left:860px;
  top:822px;
  width:360px;
  height:640px;
}
#u247 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u248 {
  position:absolute;
  left:1268px;
  top:529px;
  width:141px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u250 {
  position:absolute;
  left:489px;
  top:664px;
  width:220px;
  height:44px;
  font-size:18px;
  color:#000000;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
