body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:789px;
}
#u22290 {
  position:absolute;
  left:20px;
  top:50px;
  width:360px;
  height:789px;
}
#u22291 {
  position:absolute;
  left:2px;
  top:386px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22292 {
  position:absolute;
  left:425px;
  top:334px;
  width:928px;
  height:129px;
}
#u22293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u22293 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
  text-align:left;
}
#u22294 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u22295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u22295 {
  position:absolute;
  left:100px;
  top:0px;
  width:110px;
  height:38px;
  text-align:left;
}
#u22296 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u22297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:38px;
}
#u22297 {
  position:absolute;
  left:210px;
  top:0px;
  width:147px;
  height:38px;
  text-align:left;
}
#u22298 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u22299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:38px;
}
#u22299 {
  position:absolute;
  left:357px;
  top:0px;
  width:566px;
  height:38px;
  text-align:left;
}
#u22300 {
  position:absolute;
  left:2px;
  top:2px;
  width:562px;
  word-wrap:break-word;
}
#u22301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:86px;
}
#u22301 {
  position:absolute;
  left:0px;
  top:38px;
  width:100px;
  height:86px;
  text-align:left;
}
#u22302 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u22303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:86px;
}
#u22303 {
  position:absolute;
  left:100px;
  top:38px;
  width:110px;
  height:86px;
  text-align:left;
}
#u22304 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u22305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:86px;
}
#u22305 {
  position:absolute;
  left:210px;
  top:38px;
  width:147px;
  height:86px;
  text-align:left;
}
#u22306 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u22307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:86px;
}
#u22307 {
  position:absolute;
  left:357px;
  top:38px;
  width:566px;
  height:86px;
  text-align:left;
}
#u22308 {
  position:absolute;
  left:2px;
  top:18px;
  width:562px;
  word-wrap:break-word;
}
