body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:789px;
}
#u21649 {
  position:absolute;
  left:20px;
  top:50px;
  width:360px;
  height:789px;
}
#u21650 {
  position:absolute;
  left:2px;
  top:386px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21651 {
  position:absolute;
  left:425px;
  top:334px;
  width:928px;
  height:129px;
}
#u21652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u21652 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
  text-align:left;
}
#u21653 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u21654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u21654 {
  position:absolute;
  left:100px;
  top:0px;
  width:110px;
  height:38px;
  text-align:left;
}
#u21655 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u21656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:38px;
}
#u21656 {
  position:absolute;
  left:210px;
  top:0px;
  width:147px;
  height:38px;
  text-align:left;
}
#u21657 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u21658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:38px;
}
#u21658 {
  position:absolute;
  left:357px;
  top:0px;
  width:566px;
  height:38px;
  text-align:left;
}
#u21659 {
  position:absolute;
  left:2px;
  top:2px;
  width:562px;
  word-wrap:break-word;
}
#u21660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:86px;
}
#u21660 {
  position:absolute;
  left:0px;
  top:38px;
  width:100px;
  height:86px;
  text-align:left;
}
#u21661 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u21662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:86px;
}
#u21662 {
  position:absolute;
  left:100px;
  top:38px;
  width:110px;
  height:86px;
  text-align:left;
}
#u21663 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u21664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:86px;
}
#u21664 {
  position:absolute;
  left:210px;
  top:38px;
  width:147px;
  height:86px;
  text-align:left;
}
#u21665 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u21666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:86px;
}
#u21666 {
  position:absolute;
  left:357px;
  top:38px;
  width:566px;
  height:86px;
  text-align:left;
}
#u21667 {
  position:absolute;
  left:2px;
  top:18px;
  width:562px;
  word-wrap:break-word;
}
