body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:789px;
}
#u22741 {
  position:absolute;
  left:20px;
  top:50px;
  width:360px;
  height:789px;
}
#u22742 {
  position:absolute;
  left:2px;
  top:386px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22743 {
  position:absolute;
  left:425px;
  top:334px;
  width:928px;
  height:129px;
}
#u22744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u22744 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
  text-align:left;
}
#u22745 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u22746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u22746 {
  position:absolute;
  left:100px;
  top:0px;
  width:110px;
  height:38px;
  text-align:left;
}
#u22747 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u22748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:38px;
}
#u22748 {
  position:absolute;
  left:210px;
  top:0px;
  width:147px;
  height:38px;
  text-align:left;
}
#u22749 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u22750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:38px;
}
#u22750 {
  position:absolute;
  left:357px;
  top:0px;
  width:566px;
  height:38px;
  text-align:left;
}
#u22751 {
  position:absolute;
  left:2px;
  top:2px;
  width:562px;
  word-wrap:break-word;
}
#u22752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:86px;
}
#u22752 {
  position:absolute;
  left:0px;
  top:38px;
  width:100px;
  height:86px;
  text-align:left;
}
#u22753 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u22754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:86px;
}
#u22754 {
  position:absolute;
  left:100px;
  top:38px;
  width:110px;
  height:86px;
  text-align:left;
}
#u22755 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u22756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:86px;
}
#u22756 {
  position:absolute;
  left:210px;
  top:38px;
  width:147px;
  height:86px;
  text-align:left;
}
#u22757 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u22758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:86px;
}
#u22758 {
  position:absolute;
  left:357px;
  top:38px;
  width:566px;
  height:86px;
  text-align:left;
}
#u22759 {
  position:absolute;
  left:2px;
  top:18px;
  width:562px;
  word-wrap:break-word;
}
