body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8797 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
}
#u8798 {
  position:absolute;
  left:2px;
  top:724px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:2px;
}
#u8799 {
  position:absolute;
  left:40px;
  top:115px;
  width:1130px;
  height:1px;
}
#u8800 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u8801 {
  position:absolute;
  left:40px;
  top:20px;
  width:80px;
  height:80px;
}
#u8802 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8803 {
  position:absolute;
  left:147px;
  top:42px;
  width:129px;
  height:37px;
}
#u8804 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8805 {
  position:absolute;
  left:147px;
  top:84px;
  width:105px;
  height:16px;
}
#u8806 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u8807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8807 {
  position:absolute;
  left:1030px;
  top:6px;
  width:87px;
  height:16px;
}
#u8808 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u8809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u8809 {
  position:absolute;
  left:1130px;
  top:6px;
  width:1px;
  height:16px;
}
#u8810 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8811 {
  position:absolute;
  left:1141px;
  top:6px;
  width:29px;
  height:16px;
}
#u8812 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8814 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:56px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8815 {
  position:absolute;
  left:0px;
  top:1464px;
  width:1200px;
  height:56px;
  color:#FFFFFF;
}
#u8816 {
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8817 {
  position:absolute;
  left:489px;
  top:1481px;
  width:222px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8818 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u8819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8819 {
  position:absolute;
  left:1080px;
  top:77px;
  width:90px;
  height:30px;
}
#u8819_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8819.mouseOver {
}
#u8819_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8819.mouseDown {
}
#u8819_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8819.selected {
}
#u8820 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8821 {
  position:absolute;
  left:991px;
  top:77px;
  width:90px;
  height:30px;
}
#u8821_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8821.mouseOver {
}
#u8821_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8821.mouseDown {
}
#u8821_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8821.selected {
}
#u8822 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8823 {
  position:absolute;
  left:902px;
  top:77px;
  width:90px;
  height:30px;
}
#u8823_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8823.mouseOver {
}
#u8823_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8823.mouseDown {
}
#u8823_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8823.selected {
}
#u8824 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:1254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8825 {
  position:absolute;
  left:42px;
  top:153px;
  width:1128px;
  height:1254px;
}
#u8826 {
  position:absolute;
  left:2px;
  top:619px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8827 {
  position:absolute;
  left:84px;
  top:180px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8828 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u8829 {
  position:absolute;
  left:84px;
  top:220px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u8830 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u8831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u8831 {
  position:absolute;
  left:84px;
  top:272px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u8832 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u8833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u8833 {
  position:absolute;
  left:84px;
  top:324px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u8834 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u8835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u8835 {
  position:absolute;
  left:84px;
  top:376px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u8836 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u8837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u8837 {
  position:absolute;
  left:84px;
  top:428px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u8838 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u8839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u8839 {
  position:absolute;
  left:84px;
  top:481px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u8840 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u8841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u8841 {
  position:absolute;
  left:84px;
  top:533px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u8842 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u8843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u8843 {
  position:absolute;
  left:84px;
  top:585px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u8844 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u8845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u8845 {
  position:absolute;
  left:84px;
  top:637px;
  width:33px;
  height:34px;
  font-size:20px;
  color:#1E1E1E;
}
#u8846 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u8847 {
  position:absolute;
  left:515px;
  top:1357px;
}
#u8847_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
}
#u8847_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8848 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u8849 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8850 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u8851 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8852 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u8853 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8854 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u8855 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8856 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u8857 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8858 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u8859 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8847_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u8847_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8860 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8861 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8862 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u8863 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8864 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u8865 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8866 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u8867 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8868 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u8869 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8870 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u8871 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8847_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u8847_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8872 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8873 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8874 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u8875 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8876 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u8877 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8878 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u8879 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8880 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u8881 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8882 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u8883 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8847_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u8847_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8884 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8885 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8886 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u8887 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8888 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u8889 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8890 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u8891 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8892 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u8893 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8894 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u8895 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8847_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u8847_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8896 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8897 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8898 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u8899 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8900 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u8901 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8902 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u8903 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8904 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u8905 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8906 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u8907 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8847_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u8847_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8908 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8909 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8910 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u8911 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8912 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u8913 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8914 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u8915 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8916 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u8917 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8918 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u8919 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8920 {
  position:absolute;
  left:485px;
  top:1357px;
  width:20px;
  height:20px;
}
#u8920_img.disabled {
}
#u8920.disabled {
}
#u8921 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8922 {
  position:absolute;
  left:695px;
  top:1357px;
  width:20px;
  height:20px;
}
#u8922_img.disabled {
}
#u8922.disabled {
}
#u8923 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8925 {
  position:absolute;
  left:133px;
  top:222px;
  width:998px;
  height:31px;
  text-align:left;
}
#u8925_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8925.mouseOver {
}
#u8926 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u8927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8927 {
  position:absolute;
  left:864px;
  top:230px;
  width:159px;
  height:16px;
}
#u8927_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8927.mouseOver {
}
#u8928 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u8929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8930 {
  position:absolute;
  left:133px;
  top:274px;
  width:998px;
  height:31px;
  text-align:left;
}
#u8930_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8930.mouseOver {
}
#u8931 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u8932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8932 {
  position:absolute;
  left:864px;
  top:282px;
  width:159px;
  height:16px;
}
#u8932_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8932.mouseOver {
}
#u8933 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u8934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8935 {
  position:absolute;
  left:133px;
  top:588px;
  width:998px;
  height:31px;
  text-align:left;
}
#u8936 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u8937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8937 {
  position:absolute;
  left:864px;
  top:596px;
  width:159px;
  height:16px;
}
#u8938 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u8939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8940 {
  position:absolute;
  left:133px;
  top:640px;
  width:998px;
  height:31px;
  text-align:left;
}
#u8941 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u8942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8942 {
  position:absolute;
  left:864px;
  top:648px;
  width:159px;
  height:16px;
}
#u8943 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u8944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8945 {
  position:absolute;
  left:133px;
  top:326px;
  width:998px;
  height:31px;
  text-align:left;
}
#u8945_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8945.mouseOver {
}
#u8946 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u8947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8947 {
  position:absolute;
  left:864px;
  top:334px;
  width:159px;
  height:16px;
}
#u8947_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8947.mouseOver {
}
#u8948 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u8949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8950 {
  position:absolute;
  left:133px;
  top:379px;
  width:998px;
  height:31px;
  text-align:left;
}
#u8951 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u8952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8952 {
  position:absolute;
  left:864px;
  top:387px;
  width:159px;
  height:16px;
}
#u8953 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u8954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8955 {
  position:absolute;
  left:133px;
  top:431px;
  width:998px;
  height:31px;
  text-align:left;
}
#u8956 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u8957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8957 {
  position:absolute;
  left:864px;
  top:439px;
  width:159px;
  height:16px;
}
#u8958 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u8959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8960 {
  position:absolute;
  left:133px;
  top:483px;
  width:998px;
  height:31px;
  text-align:left;
}
#u8961 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u8962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8962 {
  position:absolute;
  left:864px;
  top:491px;
  width:159px;
  height:16px;
}
#u8963 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u8964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8965 {
  position:absolute;
  left:133px;
  top:535px;
  width:998px;
  height:31px;
  text-align:left;
}
#u8966 {
  position:absolute;
  left:2px;
  top:8px;
  width:994px;
  word-wrap:break-word;
}
#u8967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8967 {
  position:absolute;
  left:864px;
  top:543px;
  width:159px;
  height:16px;
}
#u8968 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u8969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8969 {
  position:absolute;
  left:38px;
  top:126px;
  width:83px;
  height:16px;
  font-size:16px;
}
#u8970 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u8971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8971 {
  position:absolute;
  left:123px;
  top:126px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u8972 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
