body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15582 {
  position:absolute;
  left:50px;
  top:50px;
  width:1205px;
  height:619px;
}
#u15583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u15583 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15584 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u15585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u15585 {
  position:absolute;
  left:52px;
  top:0px;
  width:147px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15586 {
  position:absolute;
  left:2px;
  top:15px;
  width:143px;
  word-wrap:break-word;
}
#u15587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
}
#u15587 {
  position:absolute;
  left:199px;
  top:0px;
  width:249px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15588 {
  position:absolute;
  left:2px;
  top:15px;
  width:245px;
  word-wrap:break-word;
}
#u15589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:52px;
}
#u15589 {
  position:absolute;
  left:448px;
  top:0px;
  width:693px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15590 {
  position:absolute;
  left:2px;
  top:15px;
  width:689px;
  word-wrap:break-word;
}
#u15591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u15591 {
  position:absolute;
  left:1141px;
  top:0px;
  width:59px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15592 {
  position:absolute;
  left:2px;
  top:15px;
  width:55px;
  word-wrap:break-word;
}
#u15593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u15593 {
  position:absolute;
  left:0px;
  top:52px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15594 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u15595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u15595 {
  position:absolute;
  left:52px;
  top:52px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15596 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u15597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u15597 {
  position:absolute;
  left:199px;
  top:52px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15598 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u15599 {
  position:absolute;
  left:448px;
  top:52px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15600 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u15601 {
  position:absolute;
  left:1141px;
  top:52px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15602 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:92px;
}
#u15603 {
  position:absolute;
  left:0px;
  top:82px;
  width:52px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u15604 {
  position:absolute;
  left:2px;
  top:35px;
  width:48px;
  word-wrap:break-word;
}
#u15605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:92px;
}
#u15605 {
  position:absolute;
  left:52px;
  top:82px;
  width:147px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u15606 {
  position:absolute;
  left:2px;
  top:35px;
  width:143px;
  word-wrap:break-word;
}
#u15607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:92px;
}
#u15607 {
  position:absolute;
  left:199px;
  top:82px;
  width:249px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u15608 {
  position:absolute;
  left:2px;
  top:38px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:92px;
}
#u15609 {
  position:absolute;
  left:448px;
  top:82px;
  width:693px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u15610 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u15611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:92px;
}
#u15611 {
  position:absolute;
  left:1141px;
  top:82px;
  width:59px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u15612 {
  position:absolute;
  left:2px;
  top:38px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u15613 {
  position:absolute;
  left:0px;
  top:174px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15614 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u15615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u15615 {
  position:absolute;
  left:52px;
  top:174px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15616 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u15617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u15617 {
  position:absolute;
  left:199px;
  top:174px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15618 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u15619 {
  position:absolute;
  left:448px;
  top:174px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15620 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u15621 {
  position:absolute;
  left:1141px;
  top:174px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15622 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:70px;
}
#u15623 {
  position:absolute;
  left:0px;
  top:204px;
  width:52px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u15624 {
  position:absolute;
  left:2px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u15625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:70px;
}
#u15625 {
  position:absolute;
  left:52px;
  top:204px;
  width:147px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u15626 {
  position:absolute;
  left:2px;
  top:24px;
  width:143px;
  word-wrap:break-word;
}
#u15627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:70px;
}
#u15627 {
  position:absolute;
  left:199px;
  top:204px;
  width:249px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u15628 {
  position:absolute;
  left:2px;
  top:27px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:70px;
}
#u15629 {
  position:absolute;
  left:448px;
  top:204px;
  width:693px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u15630 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u15631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:70px;
}
#u15631 {
  position:absolute;
  left:1141px;
  top:204px;
  width:59px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u15632 {
  position:absolute;
  left:2px;
  top:27px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u15633 {
  position:absolute;
  left:0px;
  top:274px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15634 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u15635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u15635 {
  position:absolute;
  left:52px;
  top:274px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15636 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u15637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u15637 {
  position:absolute;
  left:199px;
  top:274px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15638 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u15639 {
  position:absolute;
  left:448px;
  top:274px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15640 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u15641 {
  position:absolute;
  left:1141px;
  top:274px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15642 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u15643 {
  position:absolute;
  left:0px;
  top:304px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15644 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u15645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u15645 {
  position:absolute;
  left:52px;
  top:304px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15646 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u15647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u15647 {
  position:absolute;
  left:199px;
  top:304px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15648 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u15649 {
  position:absolute;
  left:448px;
  top:304px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15650 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u15651 {
  position:absolute;
  left:1141px;
  top:304px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15652 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u15653 {
  position:absolute;
  left:0px;
  top:334px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15654 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u15655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u15655 {
  position:absolute;
  left:52px;
  top:334px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15656 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u15657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u15657 {
  position:absolute;
  left:199px;
  top:334px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15658 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u15659 {
  position:absolute;
  left:448px;
  top:334px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15660 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u15661 {
  position:absolute;
  left:1141px;
  top:334px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15662 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u15663 {
  position:absolute;
  left:0px;
  top:364px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15664 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u15665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u15665 {
  position:absolute;
  left:52px;
  top:364px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15666 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u15667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u15667 {
  position:absolute;
  left:199px;
  top:364px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15668 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u15669 {
  position:absolute;
  left:448px;
  top:364px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15670 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u15671 {
  position:absolute;
  left:1141px;
  top:364px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15672 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:220px;
}
#u15673 {
  position:absolute;
  left:0px;
  top:394px;
  width:52px;
  height:220px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u15674 {
  position:absolute;
  left:2px;
  top:99px;
  width:48px;
  word-wrap:break-word;
}
#u15675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:220px;
}
#u15675 {
  position:absolute;
  left:52px;
  top:394px;
  width:147px;
  height:220px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u15676 {
  position:absolute;
  left:2px;
  top:99px;
  width:143px;
  word-wrap:break-word;
}
#u15677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:220px;
}
#u15677 {
  position:absolute;
  left:199px;
  top:394px;
  width:249px;
  height:220px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u15678 {
  position:absolute;
  left:2px;
  top:102px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:220px;
}
#u15679 {
  position:absolute;
  left:448px;
  top:394px;
  width:693px;
  height:220px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u15680 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u15681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:220px;
}
#u15681 {
  position:absolute;
  left:1141px;
  top:394px;
  width:59px;
  height:220px;
  font-size:18px;
  text-align:left;
}
#u15682 {
  position:absolute;
  left:2px;
  top:102px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15683 {
  position:absolute;
  left:50px;
  top:18px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15684 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15685 {
  position:absolute;
  left:50px;
  top:727px;
  width:1205px;
  height:417px;
}
#u15686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u15686 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15687 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u15688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u15688 {
  position:absolute;
  left:52px;
  top:0px;
  width:147px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15689 {
  position:absolute;
  left:2px;
  top:15px;
  width:143px;
  word-wrap:break-word;
}
#u15690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
}
#u15690 {
  position:absolute;
  left:199px;
  top:0px;
  width:249px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15691 {
  position:absolute;
  left:2px;
  top:15px;
  width:245px;
  word-wrap:break-word;
}
#u15692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:52px;
}
#u15692 {
  position:absolute;
  left:448px;
  top:0px;
  width:693px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15693 {
  position:absolute;
  left:2px;
  top:15px;
  width:689px;
  word-wrap:break-word;
}
#u15694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u15694 {
  position:absolute;
  left:1141px;
  top:0px;
  width:59px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15695 {
  position:absolute;
  left:2px;
  top:15px;
  width:55px;
  word-wrap:break-word;
}
#u15696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u15696 {
  position:absolute;
  left:0px;
  top:52px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15697 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u15698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u15698 {
  position:absolute;
  left:52px;
  top:52px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15699 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u15700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u15700 {
  position:absolute;
  left:199px;
  top:52px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15701 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u15702 {
  position:absolute;
  left:448px;
  top:52px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15703 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u15704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u15704 {
  position:absolute;
  left:1141px;
  top:52px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15705 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u15706 {
  position:absolute;
  left:0px;
  top:82px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15707 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u15708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u15708 {
  position:absolute;
  left:52px;
  top:82px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15709 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u15710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u15710 {
  position:absolute;
  left:199px;
  top:82px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15711 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u15712 {
  position:absolute;
  left:448px;
  top:82px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15713 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u15714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u15714 {
  position:absolute;
  left:1141px;
  top:82px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15715 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u15716 {
  position:absolute;
  left:0px;
  top:112px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15717 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u15718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u15718 {
  position:absolute;
  left:52px;
  top:112px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15719 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u15720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u15720 {
  position:absolute;
  left:199px;
  top:112px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15721 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u15722 {
  position:absolute;
  left:448px;
  top:112px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15723 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u15724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u15724 {
  position:absolute;
  left:1141px;
  top:112px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15725 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u15726 {
  position:absolute;
  left:0px;
  top:142px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15727 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u15728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u15728 {
  position:absolute;
  left:52px;
  top:142px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15729 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u15730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u15730 {
  position:absolute;
  left:199px;
  top:142px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15731 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u15732 {
  position:absolute;
  left:448px;
  top:142px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15733 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u15734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u15734 {
  position:absolute;
  left:1141px;
  top:142px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15735 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u15736 {
  position:absolute;
  left:0px;
  top:172px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15737 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u15738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u15738 {
  position:absolute;
  left:52px;
  top:172px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15739 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u15740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u15740 {
  position:absolute;
  left:199px;
  top:172px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15741 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u15742 {
  position:absolute;
  left:448px;
  top:172px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15743 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u15744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u15744 {
  position:absolute;
  left:1141px;
  top:172px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15745 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u15746 {
  position:absolute;
  left:0px;
  top:220px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15747 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u15748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u15748 {
  position:absolute;
  left:52px;
  top:220px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15749 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u15750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u15750 {
  position:absolute;
  left:199px;
  top:220px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15751 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u15752 {
  position:absolute;
  left:448px;
  top:220px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15753 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u15754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u15754 {
  position:absolute;
  left:1141px;
  top:220px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15755 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u15756 {
  position:absolute;
  left:0px;
  top:268px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15757 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u15758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u15758 {
  position:absolute;
  left:52px;
  top:268px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15759 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u15760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u15760 {
  position:absolute;
  left:199px;
  top:268px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15761 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u15762 {
  position:absolute;
  left:448px;
  top:268px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15763 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u15764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u15764 {
  position:absolute;
  left:1141px;
  top:268px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15765 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u15766 {
  position:absolute;
  left:0px;
  top:316px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15767 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u15768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u15768 {
  position:absolute;
  left:52px;
  top:316px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15769 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u15770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u15770 {
  position:absolute;
  left:199px;
  top:316px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15771 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u15772 {
  position:absolute;
  left:448px;
  top:316px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15773 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u15774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u15774 {
  position:absolute;
  left:1141px;
  top:316px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15775 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u15776 {
  position:absolute;
  left:0px;
  top:364px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15777 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u15778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u15778 {
  position:absolute;
  left:52px;
  top:364px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15779 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u15780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u15780 {
  position:absolute;
  left:199px;
  top:364px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15781 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u15782 {
  position:absolute;
  left:448px;
  top:364px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15783 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u15784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u15784 {
  position:absolute;
  left:1141px;
  top:364px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15785 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15786 {
  position:absolute;
  left:50px;
  top:695px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15787 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15788 {
  position:absolute;
  left:50px;
  top:1218px;
  width:1205px;
  height:183px;
}
#u15789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u15789 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15790 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u15791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u15791 {
  position:absolute;
  left:52px;
  top:0px;
  width:147px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15792 {
  position:absolute;
  left:2px;
  top:15px;
  width:143px;
  word-wrap:break-word;
}
#u15793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
}
#u15793 {
  position:absolute;
  left:199px;
  top:0px;
  width:249px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15794 {
  position:absolute;
  left:2px;
  top:15px;
  width:245px;
  word-wrap:break-word;
}
#u15795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:52px;
}
#u15795 {
  position:absolute;
  left:448px;
  top:0px;
  width:693px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15796 {
  position:absolute;
  left:2px;
  top:15px;
  width:689px;
  word-wrap:break-word;
}
#u15797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u15797 {
  position:absolute;
  left:1141px;
  top:0px;
  width:59px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15798 {
  position:absolute;
  left:2px;
  top:15px;
  width:55px;
  word-wrap:break-word;
}
#u15799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u15799 {
  position:absolute;
  left:0px;
  top:52px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15800 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u15801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u15801 {
  position:absolute;
  left:52px;
  top:52px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15802 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u15803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u15803 {
  position:absolute;
  left:199px;
  top:52px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15804 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u15805 {
  position:absolute;
  left:448px;
  top:52px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15806 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u15807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u15807 {
  position:absolute;
  left:1141px;
  top:52px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15808 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u15809 {
  position:absolute;
  left:0px;
  top:100px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15810 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u15811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u15811 {
  position:absolute;
  left:52px;
  top:100px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15812 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u15813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u15813 {
  position:absolute;
  left:199px;
  top:100px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15814 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u15815 {
  position:absolute;
  left:448px;
  top:100px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15816 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u15817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u15817 {
  position:absolute;
  left:1141px;
  top:100px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u15818 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u15819 {
  position:absolute;
  left:0px;
  top:148px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15820 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u15821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u15821 {
  position:absolute;
  left:52px;
  top:148px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15822 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u15823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u15823 {
  position:absolute;
  left:199px;
  top:148px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15824 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u15825 {
  position:absolute;
  left:448px;
  top:148px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15826 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u15827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u15827 {
  position:absolute;
  left:1141px;
  top:148px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u15828 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15829 {
  position:absolute;
  left:50px;
  top:1186px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15830 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
