body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16166 {
  position:absolute;
  left:50px;
  top:50px;
  width:1205px;
  height:619px;
}
#u16167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u16167 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16168 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u16169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u16169 {
  position:absolute;
  left:52px;
  top:0px;
  width:147px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16170 {
  position:absolute;
  left:2px;
  top:15px;
  width:143px;
  word-wrap:break-word;
}
#u16171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
}
#u16171 {
  position:absolute;
  left:199px;
  top:0px;
  width:249px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16172 {
  position:absolute;
  left:2px;
  top:15px;
  width:245px;
  word-wrap:break-word;
}
#u16173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:52px;
}
#u16173 {
  position:absolute;
  left:448px;
  top:0px;
  width:693px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16174 {
  position:absolute;
  left:2px;
  top:15px;
  width:689px;
  word-wrap:break-word;
}
#u16175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u16175 {
  position:absolute;
  left:1141px;
  top:0px;
  width:59px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16176 {
  position:absolute;
  left:2px;
  top:15px;
  width:55px;
  word-wrap:break-word;
}
#u16177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16177 {
  position:absolute;
  left:0px;
  top:52px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16178 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16179 {
  position:absolute;
  left:52px;
  top:52px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16180 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16181 {
  position:absolute;
  left:199px;
  top:52px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16182 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16183 {
  position:absolute;
  left:448px;
  top:52px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16184 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16185 {
  position:absolute;
  left:1141px;
  top:52px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16186 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:92px;
}
#u16187 {
  position:absolute;
  left:0px;
  top:82px;
  width:52px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u16188 {
  position:absolute;
  left:2px;
  top:35px;
  width:48px;
  word-wrap:break-word;
}
#u16189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:92px;
}
#u16189 {
  position:absolute;
  left:52px;
  top:82px;
  width:147px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u16190 {
  position:absolute;
  left:2px;
  top:35px;
  width:143px;
  word-wrap:break-word;
}
#u16191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:92px;
}
#u16191 {
  position:absolute;
  left:199px;
  top:82px;
  width:249px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u16192 {
  position:absolute;
  left:2px;
  top:38px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:92px;
}
#u16193 {
  position:absolute;
  left:448px;
  top:82px;
  width:693px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u16194 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:92px;
}
#u16195 {
  position:absolute;
  left:1141px;
  top:82px;
  width:59px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u16196 {
  position:absolute;
  left:2px;
  top:38px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16197 {
  position:absolute;
  left:0px;
  top:174px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16198 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16199 {
  position:absolute;
  left:52px;
  top:174px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16200 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16201 {
  position:absolute;
  left:199px;
  top:174px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16202 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16203 {
  position:absolute;
  left:448px;
  top:174px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16204 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16205 {
  position:absolute;
  left:1141px;
  top:174px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16206 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:70px;
}
#u16207 {
  position:absolute;
  left:0px;
  top:204px;
  width:52px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u16208 {
  position:absolute;
  left:2px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u16209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:70px;
}
#u16209 {
  position:absolute;
  left:52px;
  top:204px;
  width:147px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u16210 {
  position:absolute;
  left:2px;
  top:24px;
  width:143px;
  word-wrap:break-word;
}
#u16211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:70px;
}
#u16211 {
  position:absolute;
  left:199px;
  top:204px;
  width:249px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u16212 {
  position:absolute;
  left:2px;
  top:27px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:70px;
}
#u16213 {
  position:absolute;
  left:448px;
  top:204px;
  width:693px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u16214 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u16215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:70px;
}
#u16215 {
  position:absolute;
  left:1141px;
  top:204px;
  width:59px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u16216 {
  position:absolute;
  left:2px;
  top:27px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16217 {
  position:absolute;
  left:0px;
  top:274px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16218 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16219 {
  position:absolute;
  left:52px;
  top:274px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16220 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16221 {
  position:absolute;
  left:199px;
  top:274px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16222 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16223 {
  position:absolute;
  left:448px;
  top:274px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16224 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16225 {
  position:absolute;
  left:1141px;
  top:274px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16226 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16227 {
  position:absolute;
  left:0px;
  top:304px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16228 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16229 {
  position:absolute;
  left:52px;
  top:304px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16230 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16231 {
  position:absolute;
  left:199px;
  top:304px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16232 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16233 {
  position:absolute;
  left:448px;
  top:304px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16234 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16235 {
  position:absolute;
  left:1141px;
  top:304px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16236 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16237 {
  position:absolute;
  left:0px;
  top:334px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16238 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16239 {
  position:absolute;
  left:52px;
  top:334px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16240 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16241 {
  position:absolute;
  left:199px;
  top:334px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16242 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16243 {
  position:absolute;
  left:448px;
  top:334px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16244 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16245 {
  position:absolute;
  left:1141px;
  top:334px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16246 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16247 {
  position:absolute;
  left:0px;
  top:364px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16248 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16249 {
  position:absolute;
  left:52px;
  top:364px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16250 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16251 {
  position:absolute;
  left:199px;
  top:364px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16252 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16253 {
  position:absolute;
  left:448px;
  top:364px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16254 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16255 {
  position:absolute;
  left:1141px;
  top:364px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16256 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:220px;
}
#u16257 {
  position:absolute;
  left:0px;
  top:394px;
  width:52px;
  height:220px;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u16258 {
  position:absolute;
  left:2px;
  top:99px;
  width:48px;
  word-wrap:break-word;
}
#u16259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:220px;
}
#u16259 {
  position:absolute;
  left:52px;
  top:394px;
  width:147px;
  height:220px;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u16260 {
  position:absolute;
  left:2px;
  top:99px;
  width:143px;
  word-wrap:break-word;
}
#u16261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:220px;
}
#u16261 {
  position:absolute;
  left:199px;
  top:394px;
  width:249px;
  height:220px;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u16262 {
  position:absolute;
  left:2px;
  top:102px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:220px;
}
#u16263 {
  position:absolute;
  left:448px;
  top:394px;
  width:693px;
  height:220px;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u16264 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u16265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:220px;
}
#u16265 {
  position:absolute;
  left:1141px;
  top:394px;
  width:59px;
  height:220px;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u16266 {
  position:absolute;
  left:2px;
  top:102px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16267 {
  position:absolute;
  left:50px;
  top:18px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16268 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16269 {
  position:absolute;
  left:50px;
  top:727px;
  width:1205px;
  height:417px;
}
#u16270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u16270 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16271 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u16272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u16272 {
  position:absolute;
  left:52px;
  top:0px;
  width:147px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16273 {
  position:absolute;
  left:2px;
  top:15px;
  width:143px;
  word-wrap:break-word;
}
#u16274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
}
#u16274 {
  position:absolute;
  left:199px;
  top:0px;
  width:249px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16275 {
  position:absolute;
  left:2px;
  top:15px;
  width:245px;
  word-wrap:break-word;
}
#u16276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:52px;
}
#u16276 {
  position:absolute;
  left:448px;
  top:0px;
  width:693px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16277 {
  position:absolute;
  left:2px;
  top:15px;
  width:689px;
  word-wrap:break-word;
}
#u16278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u16278 {
  position:absolute;
  left:1141px;
  top:0px;
  width:59px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16279 {
  position:absolute;
  left:2px;
  top:15px;
  width:55px;
  word-wrap:break-word;
}
#u16280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16280 {
  position:absolute;
  left:0px;
  top:52px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16281 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16282 {
  position:absolute;
  left:52px;
  top:52px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16283 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16284 {
  position:absolute;
  left:199px;
  top:52px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16285 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16286 {
  position:absolute;
  left:448px;
  top:52px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16287 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u16288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16288 {
  position:absolute;
  left:1141px;
  top:52px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16289 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16290 {
  position:absolute;
  left:0px;
  top:82px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16291 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16292 {
  position:absolute;
  left:52px;
  top:82px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16293 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16294 {
  position:absolute;
  left:199px;
  top:82px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16295 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16296 {
  position:absolute;
  left:448px;
  top:82px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16297 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u16298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16298 {
  position:absolute;
  left:1141px;
  top:82px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16299 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16300 {
  position:absolute;
  left:0px;
  top:112px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16301 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16302 {
  position:absolute;
  left:52px;
  top:112px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16303 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16304 {
  position:absolute;
  left:199px;
  top:112px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16305 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16306 {
  position:absolute;
  left:448px;
  top:112px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16307 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u16308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16308 {
  position:absolute;
  left:1141px;
  top:112px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16309 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16310 {
  position:absolute;
  left:0px;
  top:142px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16311 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16312 {
  position:absolute;
  left:52px;
  top:142px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16313 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16314 {
  position:absolute;
  left:199px;
  top:142px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16315 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16316 {
  position:absolute;
  left:448px;
  top:142px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16317 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u16318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16318 {
  position:absolute;
  left:1141px;
  top:142px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16319 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16320 {
  position:absolute;
  left:0px;
  top:172px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16321 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16322 {
  position:absolute;
  left:52px;
  top:172px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16323 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u16324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16324 {
  position:absolute;
  left:199px;
  top:172px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16325 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16326 {
  position:absolute;
  left:448px;
  top:172px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16327 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16328 {
  position:absolute;
  left:1141px;
  top:172px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16329 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16330 {
  position:absolute;
  left:0px;
  top:220px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16331 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16332 {
  position:absolute;
  left:52px;
  top:220px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16333 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16334 {
  position:absolute;
  left:199px;
  top:220px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16335 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16336 {
  position:absolute;
  left:448px;
  top:220px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16337 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16338 {
  position:absolute;
  left:1141px;
  top:220px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16339 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16340 {
  position:absolute;
  left:0px;
  top:268px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16341 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16342 {
  position:absolute;
  left:52px;
  top:268px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16343 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16344 {
  position:absolute;
  left:199px;
  top:268px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16345 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16346 {
  position:absolute;
  left:448px;
  top:268px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16347 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16348 {
  position:absolute;
  left:1141px;
  top:268px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16349 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16350 {
  position:absolute;
  left:0px;
  top:316px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16351 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16352 {
  position:absolute;
  left:52px;
  top:316px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16353 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16354 {
  position:absolute;
  left:199px;
  top:316px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16355 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16356 {
  position:absolute;
  left:448px;
  top:316px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16357 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16358 {
  position:absolute;
  left:1141px;
  top:316px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16359 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16360 {
  position:absolute;
  left:0px;
  top:364px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16361 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16362 {
  position:absolute;
  left:52px;
  top:364px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16363 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16364 {
  position:absolute;
  left:199px;
  top:364px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16365 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16366 {
  position:absolute;
  left:448px;
  top:364px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16367 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16368 {
  position:absolute;
  left:1141px;
  top:364px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16369 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16370 {
  position:absolute;
  left:50px;
  top:695px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16371 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16372 {
  position:absolute;
  left:50px;
  top:1218px;
  width:1205px;
  height:183px;
}
#u16373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u16373 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16374 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u16375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u16375 {
  position:absolute;
  left:52px;
  top:0px;
  width:147px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16376 {
  position:absolute;
  left:2px;
  top:15px;
  width:143px;
  word-wrap:break-word;
}
#u16377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
}
#u16377 {
  position:absolute;
  left:199px;
  top:0px;
  width:249px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16378 {
  position:absolute;
  left:2px;
  top:15px;
  width:245px;
  word-wrap:break-word;
}
#u16379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:52px;
}
#u16379 {
  position:absolute;
  left:448px;
  top:0px;
  width:693px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16380 {
  position:absolute;
  left:2px;
  top:15px;
  width:689px;
  word-wrap:break-word;
}
#u16381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u16381 {
  position:absolute;
  left:1141px;
  top:0px;
  width:59px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16382 {
  position:absolute;
  left:2px;
  top:15px;
  width:55px;
  word-wrap:break-word;
}
#u16383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16383 {
  position:absolute;
  left:0px;
  top:52px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16384 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16385 {
  position:absolute;
  left:52px;
  top:52px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16386 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16387 {
  position:absolute;
  left:199px;
  top:52px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16388 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16389 {
  position:absolute;
  left:448px;
  top:52px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16390 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u16391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16391 {
  position:absolute;
  left:1141px;
  top:52px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16392 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16393 {
  position:absolute;
  left:0px;
  top:100px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16394 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16395 {
  position:absolute;
  left:52px;
  top:100px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16396 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16397 {
  position:absolute;
  left:199px;
  top:100px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16398 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16399 {
  position:absolute;
  left:448px;
  top:100px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16400 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u16401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16401 {
  position:absolute;
  left:1141px;
  top:100px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16402 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16403 {
  position:absolute;
  left:0px;
  top:148px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16404 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16405 {
  position:absolute;
  left:52px;
  top:148px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16406 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16407 {
  position:absolute;
  left:199px;
  top:148px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16408 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16409 {
  position:absolute;
  left:448px;
  top:148px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16410 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u16411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16411 {
  position:absolute;
  left:1141px;
  top:148px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16412 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16413 {
  position:absolute;
  left:50px;
  top:1186px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16414 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
