body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16037 {
  position:absolute;
  left:50px;
  top:50px;
  width:1205px;
  height:619px;
}
#u16038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u16038 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16039 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u16040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u16040 {
  position:absolute;
  left:52px;
  top:0px;
  width:147px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16041 {
  position:absolute;
  left:2px;
  top:15px;
  width:143px;
  word-wrap:break-word;
}
#u16042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
}
#u16042 {
  position:absolute;
  left:199px;
  top:0px;
  width:249px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16043 {
  position:absolute;
  left:2px;
  top:15px;
  width:245px;
  word-wrap:break-word;
}
#u16044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:52px;
}
#u16044 {
  position:absolute;
  left:448px;
  top:0px;
  width:693px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16045 {
  position:absolute;
  left:2px;
  top:15px;
  width:689px;
  word-wrap:break-word;
}
#u16046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u16046 {
  position:absolute;
  left:1141px;
  top:0px;
  width:59px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16047 {
  position:absolute;
  left:2px;
  top:15px;
  width:55px;
  word-wrap:break-word;
}
#u16048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16048 {
  position:absolute;
  left:0px;
  top:52px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16049 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16050 {
  position:absolute;
  left:52px;
  top:52px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16051 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16052 {
  position:absolute;
  left:199px;
  top:52px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16053 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16054 {
  position:absolute;
  left:448px;
  top:52px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16055 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16056 {
  position:absolute;
  left:1141px;
  top:52px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16057 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:92px;
}
#u16058 {
  position:absolute;
  left:0px;
  top:82px;
  width:52px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u16059 {
  position:absolute;
  left:2px;
  top:35px;
  width:48px;
  word-wrap:break-word;
}
#u16060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:92px;
}
#u16060 {
  position:absolute;
  left:52px;
  top:82px;
  width:147px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u16061 {
  position:absolute;
  left:2px;
  top:35px;
  width:143px;
  word-wrap:break-word;
}
#u16062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:92px;
}
#u16062 {
  position:absolute;
  left:199px;
  top:82px;
  width:249px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u16063 {
  position:absolute;
  left:2px;
  top:38px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:92px;
}
#u16064 {
  position:absolute;
  left:448px;
  top:82px;
  width:693px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u16065 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:92px;
}
#u16066 {
  position:absolute;
  left:1141px;
  top:82px;
  width:59px;
  height:92px;
  font-size:18px;
  text-align:left;
}
#u16067 {
  position:absolute;
  left:2px;
  top:38px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16068 {
  position:absolute;
  left:0px;
  top:174px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16069 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16070 {
  position:absolute;
  left:52px;
  top:174px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16071 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16072 {
  position:absolute;
  left:199px;
  top:174px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16073 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16074 {
  position:absolute;
  left:448px;
  top:174px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16075 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16076 {
  position:absolute;
  left:1141px;
  top:174px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16077 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:70px;
}
#u16078 {
  position:absolute;
  left:0px;
  top:204px;
  width:52px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u16079 {
  position:absolute;
  left:2px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u16080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:70px;
}
#u16080 {
  position:absolute;
  left:52px;
  top:204px;
  width:147px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u16081 {
  position:absolute;
  left:2px;
  top:24px;
  width:143px;
  word-wrap:break-word;
}
#u16082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:70px;
}
#u16082 {
  position:absolute;
  left:199px;
  top:204px;
  width:249px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u16083 {
  position:absolute;
  left:2px;
  top:27px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:70px;
}
#u16084 {
  position:absolute;
  left:448px;
  top:204px;
  width:693px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u16085 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u16086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:70px;
}
#u16086 {
  position:absolute;
  left:1141px;
  top:204px;
  width:59px;
  height:70px;
  font-size:18px;
  text-align:left;
}
#u16087 {
  position:absolute;
  left:2px;
  top:27px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16088 {
  position:absolute;
  left:0px;
  top:274px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16089 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16090 {
  position:absolute;
  left:52px;
  top:274px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16091 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16092 {
  position:absolute;
  left:199px;
  top:274px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16093 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16094 {
  position:absolute;
  left:448px;
  top:274px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16095 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16096 {
  position:absolute;
  left:1141px;
  top:274px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16097 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16098 {
  position:absolute;
  left:0px;
  top:304px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16099 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16100 {
  position:absolute;
  left:52px;
  top:304px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16101 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16102 {
  position:absolute;
  left:199px;
  top:304px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16103 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16104 {
  position:absolute;
  left:448px;
  top:304px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16105 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16106 {
  position:absolute;
  left:1141px;
  top:304px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16107 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16108 {
  position:absolute;
  left:0px;
  top:334px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16109 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16110 {
  position:absolute;
  left:52px;
  top:334px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16111 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16112 {
  position:absolute;
  left:199px;
  top:334px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16113 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16114 {
  position:absolute;
  left:448px;
  top:334px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16115 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16116 {
  position:absolute;
  left:1141px;
  top:334px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16117 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16118 {
  position:absolute;
  left:0px;
  top:364px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16119 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16120 {
  position:absolute;
  left:52px;
  top:364px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16121 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16122 {
  position:absolute;
  left:199px;
  top:364px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16123 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16124 {
  position:absolute;
  left:448px;
  top:364px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16125 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16126 {
  position:absolute;
  left:1141px;
  top:364px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16127 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:220px;
}
#u16128 {
  position:absolute;
  left:0px;
  top:394px;
  width:52px;
  height:220px;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u16129 {
  position:absolute;
  left:2px;
  top:99px;
  width:48px;
  word-wrap:break-word;
}
#u16130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:220px;
}
#u16130 {
  position:absolute;
  left:52px;
  top:394px;
  width:147px;
  height:220px;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u16131 {
  position:absolute;
  left:2px;
  top:99px;
  width:143px;
  word-wrap:break-word;
}
#u16132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:220px;
}
#u16132 {
  position:absolute;
  left:199px;
  top:394px;
  width:249px;
  height:220px;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u16133 {
  position:absolute;
  left:2px;
  top:102px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:220px;
}
#u16134 {
  position:absolute;
  left:448px;
  top:394px;
  width:693px;
  height:220px;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u16135 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u16136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:220px;
}
#u16136 {
  position:absolute;
  left:1141px;
  top:394px;
  width:59px;
  height:220px;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u16137 {
  position:absolute;
  left:2px;
  top:102px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16138 {
  position:absolute;
  left:50px;
  top:18px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16139 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16140 {
  position:absolute;
  left:50px;
  top:727px;
  width:1205px;
  height:417px;
}
#u16141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u16141 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16142 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u16143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u16143 {
  position:absolute;
  left:52px;
  top:0px;
  width:147px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16144 {
  position:absolute;
  left:2px;
  top:15px;
  width:143px;
  word-wrap:break-word;
}
#u16145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
}
#u16145 {
  position:absolute;
  left:199px;
  top:0px;
  width:249px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16146 {
  position:absolute;
  left:2px;
  top:15px;
  width:245px;
  word-wrap:break-word;
}
#u16147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:52px;
}
#u16147 {
  position:absolute;
  left:448px;
  top:0px;
  width:693px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16148 {
  position:absolute;
  left:2px;
  top:15px;
  width:689px;
  word-wrap:break-word;
}
#u16149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u16149 {
  position:absolute;
  left:1141px;
  top:0px;
  width:59px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16150 {
  position:absolute;
  left:2px;
  top:15px;
  width:55px;
  word-wrap:break-word;
}
#u16151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16151 {
  position:absolute;
  left:0px;
  top:52px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16152 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16153 {
  position:absolute;
  left:52px;
  top:52px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16154 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16155 {
  position:absolute;
  left:199px;
  top:52px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16156 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16157 {
  position:absolute;
  left:448px;
  top:52px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16158 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u16159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16159 {
  position:absolute;
  left:1141px;
  top:52px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16160 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16161 {
  position:absolute;
  left:0px;
  top:82px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16162 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16163 {
  position:absolute;
  left:52px;
  top:82px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16164 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16165 {
  position:absolute;
  left:199px;
  top:82px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16166 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16167 {
  position:absolute;
  left:448px;
  top:82px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16168 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u16169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16169 {
  position:absolute;
  left:1141px;
  top:82px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16170 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16171 {
  position:absolute;
  left:0px;
  top:112px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16172 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16173 {
  position:absolute;
  left:52px;
  top:112px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16174 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16175 {
  position:absolute;
  left:199px;
  top:112px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16176 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16177 {
  position:absolute;
  left:448px;
  top:112px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16178 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u16179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16179 {
  position:absolute;
  left:1141px;
  top:112px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16180 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16181 {
  position:absolute;
  left:0px;
  top:142px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16182 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16183 {
  position:absolute;
  left:52px;
  top:142px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16184 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16185 {
  position:absolute;
  left:199px;
  top:142px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16186 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16187 {
  position:absolute;
  left:448px;
  top:142px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16188 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u16189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16189 {
  position:absolute;
  left:1141px;
  top:142px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16190 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16191 {
  position:absolute;
  left:0px;
  top:172px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16192 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16193 {
  position:absolute;
  left:52px;
  top:172px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16194 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u16195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16195 {
  position:absolute;
  left:199px;
  top:172px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16196 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16197 {
  position:absolute;
  left:448px;
  top:172px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16198 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16199 {
  position:absolute;
  left:1141px;
  top:172px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16200 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16201 {
  position:absolute;
  left:0px;
  top:220px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16202 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16203 {
  position:absolute;
  left:52px;
  top:220px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16204 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16205 {
  position:absolute;
  left:199px;
  top:220px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16206 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16207 {
  position:absolute;
  left:448px;
  top:220px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16208 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16209 {
  position:absolute;
  left:1141px;
  top:220px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16210 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16211 {
  position:absolute;
  left:0px;
  top:268px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16212 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16213 {
  position:absolute;
  left:52px;
  top:268px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16214 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16215 {
  position:absolute;
  left:199px;
  top:268px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16216 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16217 {
  position:absolute;
  left:448px;
  top:268px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16218 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16219 {
  position:absolute;
  left:1141px;
  top:268px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16220 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16221 {
  position:absolute;
  left:0px;
  top:316px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16222 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16223 {
  position:absolute;
  left:52px;
  top:316px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16224 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16225 {
  position:absolute;
  left:199px;
  top:316px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16226 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16227 {
  position:absolute;
  left:448px;
  top:316px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16228 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16229 {
  position:absolute;
  left:1141px;
  top:316px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16230 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16231 {
  position:absolute;
  left:0px;
  top:364px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16232 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16233 {
  position:absolute;
  left:52px;
  top:364px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16234 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16235 {
  position:absolute;
  left:199px;
  top:364px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16236 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16237 {
  position:absolute;
  left:448px;
  top:364px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16238 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  word-wrap:break-word;
}
#u16239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16239 {
  position:absolute;
  left:1141px;
  top:364px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16240 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16241 {
  position:absolute;
  left:50px;
  top:695px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16242 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16243 {
  position:absolute;
  left:50px;
  top:1218px;
  width:1205px;
  height:183px;
}
#u16244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u16244 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16245 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u16246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u16246 {
  position:absolute;
  left:52px;
  top:0px;
  width:147px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16247 {
  position:absolute;
  left:2px;
  top:15px;
  width:143px;
  word-wrap:break-word;
}
#u16248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
}
#u16248 {
  position:absolute;
  left:199px;
  top:0px;
  width:249px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16249 {
  position:absolute;
  left:2px;
  top:15px;
  width:245px;
  word-wrap:break-word;
}
#u16250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:52px;
}
#u16250 {
  position:absolute;
  left:448px;
  top:0px;
  width:693px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16251 {
  position:absolute;
  left:2px;
  top:15px;
  width:689px;
  word-wrap:break-word;
}
#u16252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u16252 {
  position:absolute;
  left:1141px;
  top:0px;
  width:59px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u16253 {
  position:absolute;
  left:2px;
  top:15px;
  width:55px;
  word-wrap:break-word;
}
#u16254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16254 {
  position:absolute;
  left:0px;
  top:52px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16255 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16256 {
  position:absolute;
  left:52px;
  top:52px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16257 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16258 {
  position:absolute;
  left:199px;
  top:52px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16259 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16260 {
  position:absolute;
  left:448px;
  top:52px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16261 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u16262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16262 {
  position:absolute;
  left:1141px;
  top:52px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16263 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u16264 {
  position:absolute;
  left:0px;
  top:100px;
  width:52px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16265 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u16266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u16266 {
  position:absolute;
  left:52px;
  top:100px;
  width:147px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16267 {
  position:absolute;
  left:2px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u16268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u16268 {
  position:absolute;
  left:199px;
  top:100px;
  width:249px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16269 {
  position:absolute;
  left:2px;
  top:16px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:48px;
}
#u16270 {
  position:absolute;
  left:448px;
  top:100px;
  width:693px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16271 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u16272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u16272 {
  position:absolute;
  left:1141px;
  top:100px;
  width:59px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u16273 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16274 {
  position:absolute;
  left:0px;
  top:148px;
  width:52px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16275 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u16276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16276 {
  position:absolute;
  left:52px;
  top:148px;
  width:147px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16277 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u16278 {
  position:absolute;
  left:199px;
  top:148px;
  width:249px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16279 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u16280 {
  position:absolute;
  left:448px;
  top:148px;
  width:693px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16281 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u16282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u16282 {
  position:absolute;
  left:1141px;
  top:148px;
  width:59px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u16283 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16284 {
  position:absolute;
  left:50px;
  top:1186px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16285 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
