body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1488px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20086 {
  position:absolute;
  left:132px;
  top:32px;
  width:337px;
  height:32px;
}
#u20087 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u20088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:459px;
}
#u20088 {
  position:absolute;
  left:132px;
  top:76px;
  width:261px;
  height:459px;
}
#u20089 {
  position:absolute;
  left:2px;
  top:222px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u20090 {
  position:absolute;
  left:549px;
  top:77px;
  width:320px;
  height:569px;
}
#u20091 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20092 {
  position:absolute;
  left:543px;
  top:32px;
  width:317px;
  height:32px;
}
#u20093 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
#u20094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20094 {
  position:absolute;
  left:951px;
  top:32px;
  width:191px;
  height:16px;
}
#u20095 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u20096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20096 {
  position:absolute;
  left:132px;
  top:747px;
  width:625px;
  height:16px;
}
#u20097 {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  white-space:nowrap;
}
#u20098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:406px;
}
#u20098 {
  position:absolute;
  left:145px;
  top:803px;
  width:600px;
  height:406px;
}
#u20099 {
  position:absolute;
  left:2px;
  top:195px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20100 {
  position:absolute;
  left:798px;
  top:747px;
  width:457px;
  height:16px;
}
#u20101 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u20102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20102 {
  position:absolute;
  left:1367px;
  top:747px;
  width:121px;
  height:16px;
}
#u20103 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u20104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20104 {
  position:absolute;
  left:132px;
  top:1268px;
  width:302px;
  height:16px;
}
#u20105 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  white-space:nowrap;
}
#u20106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:631px;
}
#u20106 {
  position:absolute;
  left:154px;
  top:1313px;
  width:383px;
  height:631px;
}
#u20107 {
  position:absolute;
  left:2px;
  top:308px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
