body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1142px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21004 {
  position:absolute;
  left:132px;
  top:32px;
  width:295px;
  height:32px;
}
#u21005 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u21006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:459px;
}
#u21006 {
  position:absolute;
  left:132px;
  top:76px;
  width:261px;
  height:459px;
}
#u21007 {
  position:absolute;
  left:2px;
  top:222px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u21008 {
  position:absolute;
  left:549px;
  top:77px;
  width:320px;
  height:569px;
}
#u21009 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21010 {
  position:absolute;
  left:543px;
  top:32px;
  width:317px;
  height:32px;
}
#u21011 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
#u21012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21012 {
  position:absolute;
  left:951px;
  top:32px;
  width:191px;
  height:16px;
}
#u21013 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u21014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21014 {
  position:absolute;
  left:132px;
  top:747px;
  width:625px;
  height:16px;
}
#u21015 {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  white-space:nowrap;
}
#u21016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:406px;
}
#u21016 {
  position:absolute;
  left:145px;
  top:803px;
  width:600px;
  height:406px;
}
#u21017 {
  position:absolute;
  left:2px;
  top:195px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
