body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15380 {
  position:absolute;
  left:149px;
  top:271px;
  width:1205px;
  height:505px;
}
#u15381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u15381 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15382 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u15383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u15383 {
  position:absolute;
  left:52px;
  top:0px;
  width:147px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15384 {
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u15385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
}
#u15385 {
  position:absolute;
  left:199px;
  top:0px;
  width:249px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15386 {
  position:absolute;
  left:2px;
  top:6px;
  width:245px;
  word-wrap:break-word;
}
#u15387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:52px;
}
#u15387 {
  position:absolute;
  left:448px;
  top:0px;
  width:693px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15388 {
  position:absolute;
  left:2px;
  top:6px;
  width:689px;
  word-wrap:break-word;
}
#u15389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u15389 {
  position:absolute;
  left:1141px;
  top:0px;
  width:59px;
  height:52px;
  font-size:18px;
  text-align:left;
}
#u15390 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u15391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:114px;
}
#u15391 {
  position:absolute;
  left:0px;
  top:52px;
  width:52px;
  height:114px;
  font-size:18px;
  text-align:left;
}
#u15392 {
  position:absolute;
  left:2px;
  top:37px;
  width:48px;
  word-wrap:break-word;
}
#u15393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:114px;
}
#u15393 {
  position:absolute;
  left:52px;
  top:52px;
  width:147px;
  height:114px;
  font-size:18px;
  text-align:left;
}
#u15394 {
  position:absolute;
  left:2px;
  top:37px;
  width:143px;
  word-wrap:break-word;
}
#u15395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:114px;
}
#u15395 {
  position:absolute;
  left:199px;
  top:52px;
  width:249px;
  height:114px;
  font-size:18px;
  text-align:left;
}
#u15396 {
  position:absolute;
  left:2px;
  top:40px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:114px;
}
#u15397 {
  position:absolute;
  left:448px;
  top:52px;
  width:693px;
  height:114px;
  font-size:18px;
  text-align:left;
}
#u15398 {
  position:absolute;
  left:2px;
  top:4px;
  width:689px;
  word-wrap:break-word;
}
#u15399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:114px;
}
#u15399 {
  position:absolute;
  left:1141px;
  top:52px;
  width:59px;
  height:114px;
  font-size:18px;
  text-align:left;
}
#u15400 {
  position:absolute;
  left:2px;
  top:40px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:220px;
}
#u15401 {
  position:absolute;
  left:0px;
  top:166px;
  width:52px;
  height:220px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u15402 {
  position:absolute;
  left:2px;
  top:99px;
  width:48px;
  word-wrap:break-word;
}
#u15403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:220px;
}
#u15403 {
  position:absolute;
  left:52px;
  top:166px;
  width:147px;
  height:220px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u15404 {
  position:absolute;
  left:2px;
  top:99px;
  width:143px;
  word-wrap:break-word;
}
#u15405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:220px;
}
#u15405 {
  position:absolute;
  left:199px;
  top:166px;
  width:249px;
  height:220px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u15406 {
  position:absolute;
  left:2px;
  top:102px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:220px;
}
#u15407 {
  position:absolute;
  left:448px;
  top:166px;
  width:693px;
  height:220px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u15408 {
  position:absolute;
  left:2px;
  top:2px;
  width:689px;
  word-wrap:break-word;
}
#u15409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:220px;
}
#u15409 {
  position:absolute;
  left:1141px;
  top:166px;
  width:59px;
  height:220px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u15410 {
  position:absolute;
  left:2px;
  top:102px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:114px;
}
#u15411 {
  position:absolute;
  left:0px;
  top:386px;
  width:52px;
  height:114px;
  font-size:18px;
  text-align:left;
}
#u15412 {
  position:absolute;
  left:2px;
  top:37px;
  width:48px;
  word-wrap:break-word;
}
#u15413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:114px;
}
#u15413 {
  position:absolute;
  left:52px;
  top:386px;
  width:147px;
  height:114px;
  font-size:18px;
  text-align:left;
}
#u15414 {
  position:absolute;
  left:2px;
  top:40px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:114px;
}
#u15415 {
  position:absolute;
  left:199px;
  top:386px;
  width:249px;
  height:114px;
  font-size:18px;
  text-align:left;
}
#u15416 {
  position:absolute;
  left:2px;
  top:40px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:114px;
}
#u15417 {
  position:absolute;
  left:448px;
  top:386px;
  width:693px;
  height:114px;
  font-size:18px;
  text-align:left;
}
#u15418 {
  position:absolute;
  left:2px;
  top:40px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:114px;
}
#u15419 {
  position:absolute;
  left:1141px;
  top:386px;
  width:59px;
  height:114px;
  font-size:18px;
  text-align:left;
}
#u15420 {
  position:absolute;
  left:2px;
  top:40px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15421 {
  position:absolute;
  left:149px;
  top:121px;
  width:1077px;
  height:137px;
}
#u15422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:132px;
}
#u15422 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:132px;
  font-size:18px;
  text-align:left;
}
#u15423 {
  position:absolute;
  left:2px;
  top:46px;
  width:143px;
  word-wrap:break-word;
}
#u15424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:132px;
}
#u15424 {
  position:absolute;
  left:147px;
  top:0px;
  width:925px;
  height:132px;
  font-size:18px;
  text-align:left;
}
#u15425 {
  position:absolute;
  left:2px;
  top:2px;
  width:921px;
  word-wrap:break-word;
}
