body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12860 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
}
#u12861 {
  position:absolute;
  left:2px;
  top:724px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:2px;
}
#u12862 {
  position:absolute;
  left:40px;
  top:115px;
  width:1130px;
  height:1px;
}
#u12863 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12864 {
  position:absolute;
  left:40px;
  top:20px;
  width:80px;
  height:80px;
}
#u12865 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12866 {
  position:absolute;
  left:147px;
  top:42px;
  width:129px;
  height:37px;
}
#u12867 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u12868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12868 {
  position:absolute;
  left:147px;
  top:84px;
  width:105px;
  height:16px;
}
#u12869 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12870 {
  position:absolute;
  left:1030px;
  top:6px;
  width:87px;
  height:16px;
}
#u12871 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u12872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u12872 {
  position:absolute;
  left:1130px;
  top:6px;
  width:1px;
  height:16px;
}
#u12873 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12874 {
  position:absolute;
  left:1141px;
  top:6px;
  width:29px;
  height:16px;
}
#u12875 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12876 {
  position:absolute;
  left:1080px;
  top:77px;
  width:90px;
  height:30px;
}
#u12876_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12876.mouseOver {
}
#u12876_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12876.mouseDown {
}
#u12877 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u12879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:56px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12880 {
  position:absolute;
  left:0px;
  top:1464px;
  width:1200px;
  height:56px;
  color:#FFFFFF;
}
#u12881 {
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12882 {
  position:absolute;
  left:489px;
  top:1481px;
  width:222px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12883 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u12884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12884 {
  position:absolute;
  left:991px;
  top:77px;
  width:90px;
  height:30px;
}
#u12884_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12884.mouseOver {
}
#u12884_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12884.mouseDown {
}
#u12885 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u12886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12886 {
  position:absolute;
  left:902px;
  top:77px;
  width:90px;
  height:30px;
}
#u12886_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12886.mouseOver {
}
#u12886_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12886.mouseDown {
}
#u12887 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u12888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12888 {
  position:absolute;
  left:40px;
  top:134px;
  width:83px;
  height:16px;
  font-size:16px;
}
#u12889 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u12890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12890 {
  position:absolute;
  left:123px;
  top:134px;
  width:97px;
  height:16px;
  font-size:16px;
}
#u12891 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1109px;
  height:941px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12892 {
  position:absolute;
  left:46px;
  top:172px;
  width:1109px;
  height:941px;
}
#u12893 {
  position:absolute;
  left:2px;
  top:462px;
  width:1105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12894 {
  position:absolute;
  left:84px;
  top:220px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12895 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12896 {
  position:absolute;
  left:84px;
  top:267px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12897 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12898 {
  position:absolute;
  left:209px;
  top:264px;
  width:88px;
  height:27px;
}
#u12899 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u12900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12900 {
  position:absolute;
  left:84px;
  top:323px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12901 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12902 {
  position:absolute;
  left:209px;
  top:325px;
  width:916px;
  height:105px;
}
#u12903 {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  word-wrap:break-word;
}
#u12904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12904 {
  position:absolute;
  left:209px;
  top:220px;
  width:99px;
  height:16px;
}
#u12905 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12906 {
  position:absolute;
  left:209px;
  top:404px;
  width:871px;
  height:35px;
}
#u12907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u12907 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u12908 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u12909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:34px;
}
#u12909 {
  position:absolute;
  left:120px;
  top:0px;
  width:363px;
  height:34px;
}
#u12910 {
  position:absolute;
  left:2px;
  top:9px;
  width:359px;
  word-wrap:break-word;
}
#u12911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u12911 {
  position:absolute;
  left:483px;
  top:0px;
  width:115px;
  height:34px;
}
#u12912 {
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u12913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:34px;
}
#u12913 {
  position:absolute;
  left:598px;
  top:0px;
  width:201px;
  height:34px;
}
#u12914 {
  position:absolute;
  left:2px;
  top:9px;
  width:197px;
  word-wrap:break-word;
}
#u12915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
}
#u12915 {
  position:absolute;
  left:799px;
  top:0px;
  width:191px;
  height:34px;
}
#u12916 {
  position:absolute;
  left:2px;
  top:9px;
  width:187px;
  word-wrap:break-word;
}
#u12917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12917 {
  position:absolute;
  left:84px;
  top:404px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12918 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
.u12920 {
  position:absolute;
  left:0px;
  top:0px;
}
.u12920_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:866px;
  height:30px;
  background-image:none;
}
.u12920_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u12921 {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:35px;
}
.u12922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
.u12922 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
.u12923 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
.u12924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
}
.u12924 {
  position:absolute;
  left:105px;
  top:0px;
  width:318px;
  height:30px;
}
.u12925 {
  position:absolute;
  left:2px;
  top:7px;
  width:314px;
  word-wrap:break-word;
}
.u12926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
.u12926 {
  position:absolute;
  left:423px;
  top:0px;
  width:101px;
  height:30px;
}
.u12927 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
.u12928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
.u12928 {
  position:absolute;
  left:524px;
  top:0px;
  width:176px;
  height:30px;
  font-size:14px;
  text-align:left;
}
.u12929 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
.u12930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
.u12930 {
  position:absolute;
  left:700px;
  top:0px;
  width:166px;
  height:30px;
  font-size:14px;
  text-align:left;
}
.u12931 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
.u12920_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:866px;
  height:30px;
  visibility:hidden;
  background-image:none;
}
.u12920_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u12932 {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:35px;
}
.u12933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
.u12933 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
.u12934 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
.u12935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
}
.u12935 {
  position:absolute;
  left:105px;
  top:0px;
  width:318px;
  height:30px;
}
.u12936 {
  position:absolute;
  left:2px;
  top:7px;
  width:314px;
  word-wrap:break-word;
}
.u12937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
.u12937 {
  position:absolute;
  left:423px;
  top:0px;
  width:101px;
  height:30px;
}
.u12938 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
.u12939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
.u12939 {
  position:absolute;
  left:524px;
  top:0px;
  width:176px;
  height:30px;
  font-size:14px;
  text-align:left;
}
.u12940 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
.u12941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
.u12941 {
  position:absolute;
  left:700px;
  top:0px;
  width:166px;
  height:30px;
  font-size:14px;
  text-align:left;
}
.u12942 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
.u12920_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:866px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
.u12920_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u12943 {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:41px;
}
.u12944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
.u12944 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
.u12945 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
.u12946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:36px;
}
.u12946 {
  position:absolute;
  left:105px;
  top:0px;
  width:318px;
  height:36px;
}
.u12947 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
.u12948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
.u12948 {
  position:absolute;
  left:423px;
  top:0px;
  width:101px;
  height:36px;
}
.u12949 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
.u12950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:36px;
}
.u12950 {
  position:absolute;
  left:524px;
  top:0px;
  width:176px;
  height:36px;
  font-size:14px;
  text-align:left;
}
.u12951 {
  position:absolute;
  left:2px;
  top:2px;
  width:172px;
  word-wrap:break-word;
}
.u12952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
.u12952 {
  position:absolute;
  left:700px;
  top:0px;
  width:166px;
  height:36px;
  font-size:14px;
  text-align:left;
}
.u12953 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u12919-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:30px;
}
#u12919-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:866px;
  height:30px;
}
#u12919-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:866px;
  height:30px;
}
#u12919 {
  position:absolute;
  left:209px;
  top:434px;
  width:866px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
