body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12965 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
}
#u12966 {
  position:absolute;
  left:2px;
  top:724px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:2px;
}
#u12967 {
  position:absolute;
  left:40px;
  top:115px;
  width:1130px;
  height:1px;
}
#u12968 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12969 {
  position:absolute;
  left:40px;
  top:20px;
  width:80px;
  height:80px;
}
#u12970 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12971 {
  position:absolute;
  left:147px;
  top:42px;
  width:129px;
  height:37px;
}
#u12972 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u12973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12973 {
  position:absolute;
  left:147px;
  top:84px;
  width:105px;
  height:16px;
}
#u12974 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12975 {
  position:absolute;
  left:1030px;
  top:6px;
  width:87px;
  height:16px;
}
#u12976 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u12977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u12977 {
  position:absolute;
  left:1130px;
  top:6px;
  width:1px;
  height:16px;
}
#u12978 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12979 {
  position:absolute;
  left:1141px;
  top:6px;
  width:29px;
  height:16px;
}
#u12980 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12981 {
  position:absolute;
  left:1080px;
  top:77px;
  width:90px;
  height:30px;
}
#u12981_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12981.mouseOver {
}
#u12981_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12981.mouseDown {
}
#u12982 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u12984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:56px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12985 {
  position:absolute;
  left:0px;
  top:1464px;
  width:1200px;
  height:56px;
  color:#FFFFFF;
}
#u12986 {
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12987 {
  position:absolute;
  left:489px;
  top:1481px;
  width:222px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12988 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u12989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12989 {
  position:absolute;
  left:991px;
  top:77px;
  width:90px;
  height:30px;
}
#u12989_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12989.mouseOver {
}
#u12989_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12989.mouseDown {
}
#u12990 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u12991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12991 {
  position:absolute;
  left:902px;
  top:77px;
  width:90px;
  height:30px;
}
#u12991_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12991.mouseOver {
}
#u12991_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12991.mouseDown {
}
#u12992 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u12993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12993 {
  position:absolute;
  left:40px;
  top:134px;
  width:83px;
  height:16px;
  font-size:16px;
}
#u12994 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u12995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12995 {
  position:absolute;
  left:123px;
  top:134px;
  width:97px;
  height:16px;
  font-size:16px;
}
#u12996 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1109px;
  height:941px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12997 {
  position:absolute;
  left:46px;
  top:172px;
  width:1109px;
  height:941px;
}
#u12998 {
  position:absolute;
  left:2px;
  top:462px;
  width:1105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12999 {
  position:absolute;
  left:84px;
  top:220px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13000 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13001 {
  position:absolute;
  left:84px;
  top:267px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13002 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13003 {
  position:absolute;
  left:209px;
  top:264px;
  width:88px;
  height:27px;
}
#u13004 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u13005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13005 {
  position:absolute;
  left:84px;
  top:323px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13006 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13007 {
  position:absolute;
  left:209px;
  top:325px;
  width:916px;
  height:105px;
}
#u13008 {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  word-wrap:break-word;
}
#u13009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13009 {
  position:absolute;
  left:209px;
  top:220px;
  width:99px;
  height:16px;
}
#u13010 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13011 {
  position:absolute;
  left:209px;
  top:404px;
  width:871px;
  height:35px;
}
#u13012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u13012 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u13013 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u13014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:34px;
}
#u13014 {
  position:absolute;
  left:120px;
  top:0px;
  width:363px;
  height:34px;
}
#u13015 {
  position:absolute;
  left:2px;
  top:9px;
  width:359px;
  word-wrap:break-word;
}
#u13016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u13016 {
  position:absolute;
  left:483px;
  top:0px;
  width:115px;
  height:34px;
}
#u13017 {
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u13018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:34px;
}
#u13018 {
  position:absolute;
  left:598px;
  top:0px;
  width:201px;
  height:34px;
}
#u13019 {
  position:absolute;
  left:2px;
  top:9px;
  width:197px;
  word-wrap:break-word;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
}
#u13020 {
  position:absolute;
  left:799px;
  top:0px;
  width:191px;
  height:34px;
}
#u13021 {
  position:absolute;
  left:2px;
  top:9px;
  width:187px;
  word-wrap:break-word;
}
#u13022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13022 {
  position:absolute;
  left:84px;
  top:404px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13023 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
.u13025 {
  position:absolute;
  left:0px;
  top:0px;
}
.u13025_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:866px;
  height:30px;
  background-image:none;
}
.u13025_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u13026 {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:35px;
}
.u13027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
.u13027 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
.u13028 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
.u13029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
}
.u13029 {
  position:absolute;
  left:105px;
  top:0px;
  width:318px;
  height:30px;
}
.u13030 {
  position:absolute;
  left:2px;
  top:7px;
  width:314px;
  word-wrap:break-word;
}
.u13031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
.u13031 {
  position:absolute;
  left:423px;
  top:0px;
  width:101px;
  height:30px;
}
.u13032 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
.u13033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
.u13033 {
  position:absolute;
  left:524px;
  top:0px;
  width:176px;
  height:30px;
  font-size:14px;
  text-align:left;
}
.u13034 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
.u13035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
.u13035 {
  position:absolute;
  left:700px;
  top:0px;
  width:166px;
  height:30px;
  font-size:14px;
  text-align:left;
}
.u13036 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
.u13025_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:866px;
  height:30px;
  visibility:hidden;
  background-image:none;
}
.u13025_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u13037 {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:35px;
}
.u13038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
.u13038 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
.u13039 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
.u13040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
}
.u13040 {
  position:absolute;
  left:105px;
  top:0px;
  width:318px;
  height:30px;
}
.u13041 {
  position:absolute;
  left:2px;
  top:7px;
  width:314px;
  word-wrap:break-word;
}
.u13042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
.u13042 {
  position:absolute;
  left:423px;
  top:0px;
  width:101px;
  height:30px;
}
.u13043 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
.u13044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
.u13044 {
  position:absolute;
  left:524px;
  top:0px;
  width:176px;
  height:30px;
  font-size:14px;
  text-align:left;
}
.u13045 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
.u13046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
.u13046 {
  position:absolute;
  left:700px;
  top:0px;
  width:166px;
  height:30px;
  font-size:14px;
  text-align:left;
}
.u13047 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
.u13025_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:866px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
.u13025_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u13048 {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:41px;
}
.u13049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
.u13049 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
.u13050 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
.u13051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:36px;
}
.u13051 {
  position:absolute;
  left:105px;
  top:0px;
  width:318px;
  height:36px;
}
.u13052 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
.u13053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
.u13053 {
  position:absolute;
  left:423px;
  top:0px;
  width:101px;
  height:36px;
}
.u13054 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
.u13055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:36px;
}
.u13055 {
  position:absolute;
  left:524px;
  top:0px;
  width:176px;
  height:36px;
  font-size:14px;
  text-align:left;
}
.u13056 {
  position:absolute;
  left:2px;
  top:2px;
  width:172px;
  word-wrap:break-word;
}
.u13057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
.u13057 {
  position:absolute;
  left:700px;
  top:0px;
  width:166px;
  height:36px;
  font-size:14px;
  text-align:left;
}
.u13058 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u13024-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:30px;
}
#u13024-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:866px;
  height:30px;
}
#u13024-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:866px;
  height:30px;
}
#u13024 {
  position:absolute;
  left:209px;
  top:434px;
  width:866px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
