body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:987px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:637px;
}
#u610 {
  position:absolute;
  left:146px;
  top:64px;
  width:360px;
  height:637px;
}
#u611 {
  position:absolute;
  left:2px;
  top:310px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1232px;
}
#u612 {
  position:absolute;
  left:627px;
  top:64px;
  width:360px;
  height:1232px;
}
#u613 {
  position:absolute;
  left:2px;
  top:608px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u614 {
  position:absolute;
  left:635px;
  top:87px;
  width:41px;
  height:29px;
}
#u615 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
