body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1177 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1464px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:724px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:452px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1179 {
  position:absolute;
  left:40px;
  top:159px;
  width:169px;
  height:452px;
}
#u1180 {
  position:absolute;
  left:2px;
  top:218px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1181 {
  position:absolute;
  left:40px;
  top:159px;
  width:169px;
  height:40px;
}
#u1181_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1181.mouseOver {
}
#u1182 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u1183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1183 {
  position:absolute;
  left:40px;
  top:198px;
  width:169px;
  height:40px;
}
#u1183_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1183.mouseOver {
}
#u1184 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1185 {
  position:absolute;
  left:40px;
  top:237px;
  width:169px;
  height:40px;
}
#u1185_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1185.mouseOver {
}
#u1186 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1187 {
  position:absolute;
  left:40px;
  top:276px;
  width:169px;
  height:40px;
}
#u1187_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1187.mouseOver {
}
#u1188 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1189 {
  position:absolute;
  left:40px;
  top:315px;
  width:169px;
  height:40px;
}
#u1189_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1189.mouseOver {
}
#u1190 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  position:absolute;
  left:40px;
  top:354px;
  width:169px;
  height:40px;
}
#u1191_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191.mouseOver {
}
#u1192 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:2px;
}
#u1194 {
  position:absolute;
  left:40px;
  top:115px;
  width:1130px;
  height:1px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1196 {
  position:absolute;
  left:40px;
  top:20px;
  width:80px;
  height:80px;
}
#u1197 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198 {
  position:absolute;
  left:147px;
  top:42px;
  width:129px;
  height:37px;
}
#u1199 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200 {
  position:absolute;
  left:813px;
  top:77px;
  width:90px;
  height:30px;
}
#u1200_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200.mouseOver {
}
#u1200_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200.mouseDown {
}
#u1201 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  position:absolute;
  left:902px;
  top:77px;
  width:90px;
  height:30px;
}
#u1202_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202.mouseOver {
}
#u1202_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202.mouseDown {
}
#u1203 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u1204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204 {
  position:absolute;
  left:991px;
  top:77px;
  width:90px;
  height:30px;
}
#u1204_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204.mouseOver {
}
#u1204_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204.mouseDown {
}
#u1205 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u1206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  position:absolute;
  left:147px;
  top:84px;
  width:105px;
  height:16px;
}
#u1207 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1208 {
  position:absolute;
  left:1030px;
  top:6px;
  width:90px;
  height:16px;
}
#u1209 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u1210 {
  position:absolute;
  left:1130px;
  top:6px;
  width:1px;
  height:16px;
}
#u1211 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  position:absolute;
  left:1141px;
  top:6px;
  width:29px;
  height:16px;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214 {
  position:absolute;
  left:1080px;
  top:77px;
  width:90px;
  height:30px;
}
#u1214_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214.mouseOver {
}
#u1214_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214.mouseDown {
}
#u1215 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u1217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:56px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1218 {
  position:absolute;
  left:0px;
  top:1464px;
  width:1200px;
  height:56px;
  color:#FFFFFF;
}
#u1219 {
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1220 {
  position:absolute;
  left:489px;
  top:1481px;
  width:222px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1222 {
  position:absolute;
  left:267px;
  top:199px;
  width:94px;
  height:32px;
  font-size:18px;
}
#u1222_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1222.mouseOver {
}
#u1223 {
  position:absolute;
  left:2px;
  top:5px;
  width:90px;
  word-wrap:break-word;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1224 {
  position:absolute;
  left:367px;
  top:199px;
  width:94px;
  height:32px;
  font-size:18px;
}
#u1224_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1224.mouseOver {
}
#u1225 {
  position:absolute;
  left:2px;
  top:5px;
  width:90px;
  word-wrap:break-word;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1226 {
  position:absolute;
  left:467px;
  top:199px;
  width:94px;
  height:32px;
  font-size:18px;
}
#u1226_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1226.mouseOver {
}
#u1227 {
  position:absolute;
  left:2px;
  top:5px;
  width:90px;
  word-wrap:break-word;
}
#u1228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1228 {
  position:absolute;
  left:566px;
  top:199px;
  width:94px;
  height:32px;
  font-size:18px;
}
#u1228_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1228.mouseOver {
}
#u1229 {
  position:absolute;
  left:2px;
  top:5px;
  width:90px;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1230 {
  position:absolute;
  left:666px;
  top:199px;
  width:94px;
  height:32px;
  font-size:18px;
}
#u1230_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1230.mouseOver {
}
#u1231 {
  position:absolute;
  left:2px;
  top:5px;
  width:90px;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1232 {
  position:absolute;
  left:267px;
  top:159px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1234 {
  position:absolute;
  left:267px;
  top:276px;
  width:902px;
  height:295px;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:30px;
}
#u1237 {
  position:absolute;
  left:132px;
  top:0px;
  width:628px;
  height:30px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:7px;
  width:624px;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u1239 {
  position:absolute;
  left:760px;
  top:0px;
  width:137px;
  height:30px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:130px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:30px;
  width:132px;
  height:130px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:57px;
  width:128px;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:130px;
}
#u1243 {
  position:absolute;
  left:132px;
  top:30px;
  width:628px;
  height:130px;
  text-align:left;
}
#u1244 {
  position:absolute;
  left:2px;
  top:33px;
  width:624px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:130px;
}
#u1245 {
  position:absolute;
  left:760px;
  top:30px;
  width:137px;
  height:130px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:41px;
  width:133px;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:130px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:160px;
  width:132px;
  height:130px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:57px;
  width:128px;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:130px;
}
#u1249 {
  position:absolute;
  left:132px;
  top:160px;
  width:628px;
  height:130px;
  text-align:left;
}
#u1250 {
  position:absolute;
  left:2px;
  top:33px;
  width:624px;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:130px;
}
#u1251 {
  position:absolute;
  left:760px;
  top:160px;
  width:137px;
  height:130px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:41px;
  width:133px;
  word-wrap:break-word;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1253 {
  position:absolute;
  left:267px;
  top:565px;
  width:897px;
  height:34px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:9px;
  width:893px;
  word-wrap:break-word;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1255 {
  position:absolute;
  left:1080px;
  top:77px;
  width:90px;
  height:30px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1257 {
  position:absolute;
  left:267px;
  top:199px;
  width:94px;
  height:32px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
