body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1738px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u159 {
  position:absolute;
  left:61px;
  top:52px;
  width:235px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:864px;
}
#u161 {
  position:absolute;
  left:61px;
  top:115px;
  width:360px;
  height:864px;
}
#u162 {
  position:absolute;
  left:2px;
  top:424px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:16px;
}
#u163 {
  position:absolute;
  left:71px;
  top:639px;
  width:334px;
  height:16px;
}
#u164 {
  position:absolute;
  left:2px;
  top:0px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u165 {
  position:absolute;
  left:348px;
  top:844px;
  width:53px;
  height:23px;
  color:#FFFFFF;
}
#u166 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:64px;
}
#u167 {
  position:absolute;
  left:79px;
  top:902px;
  width:318px;
  height:64px;
}
#u168 {
  position:absolute;
  left:2px;
  top:24px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u169 {
  position:absolute;
  left:79px;
  top:877px;
  width:300px;
  height:30px;
  font-size:12px;
  color:#000000;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u171 {
  position:absolute;
  left:616px;
  top:115px;
  width:360px;
  height:640px;
}
#u172 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u173 {
  position:absolute;
  left:997px;
  top:115px;
  width:360px;
  height:640px;
}
#u174 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u175 {
  position:absolute;
  left:1378px;
  top:115px;
  width:360px;
  height:640px;
}
#u176 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
}
#u177 {
  position:absolute;
  left:616px;
  top:52px;
  width:199px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
