
#u18066 {
  position:absolute;
  left:2px;
  top:93px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18067 {
  position:absolute;
  left:10px;
  top:399px;
  width:160px;
  height:202px;
}
#u18068 {
  position:absolute;
  left:2px;
  top:93px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:141px;
}
#u18069 {
  position:absolute;
  left:22px;
  top:413px;
  width:136px;
  height:141px;
}
#u18070 {
  position:absolute;
  left:2px;
  top:62px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:141px;
}
#u18071 {
  position:absolute;
  left:203px;
  top:413px;
  width:136px;
  height:141px;
}
#u18072 {
  position:absolute;
  left:2px;
  top:62px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18073 {
  position:absolute;
  left:22px;
  top:564px;
  width:127px;
  height:16px;
}
#u18074 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u18075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18075 {
  position:absolute;
  left:203px;
  top:564px;
  width:136px;
  height:16px;
}
#u18076 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u18077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18077 {
  position:absolute;
  left:286px;
  top:580px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u18078 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18079 {
  position:absolute;
  left:104px;
  top:580px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u18080 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18082 {
  position:absolute;
  left:191px;
  top:619px;
  width:160px;
  height:202px;
}
#u18083 {
  position:absolute;
  left:2px;
  top:93px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18084 {
  position:absolute;
  left:10px;
  top:619px;
  width:160px;
  height:202px;
}
#u18085 {
  position:absolute;
  left:2px;
  top:93px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:141px;
}
#u18086 {
  position:absolute;
  left:22px;
  top:633px;
  width:136px;
  height:141px;
}
#u18087 {
  position:absolute;
  left:2px;
  top:62px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:141px;
}
#u18088 {
  position:absolute;
  left:203px;
  top:633px;
  width:136px;
  height:141px;
}
#u18089 {
  position:absolute;
  left:2px;
  top:62px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18090 {
  position:absolute;
  left:22px;
  top:784px;
  width:127px;
  height:16px;
}
#u18091 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u18092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18092 {
  position:absolute;
  left:203px;
  top:784px;
  width:136px;
  height:16px;
}
#u18093 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u18094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18094 {
  position:absolute;
  left:286px;
  top:800px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u18095 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18096 {
  position:absolute;
  left:104px;
  top:800px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u18097 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18098 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18099 {
  position:absolute;
  left:191px;
  top:838px;
  width:160px;
  height:202px;
}
#u18100 {
  position:absolute;
  left:2px;
  top:93px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18101 {
  position:absolute;
  left:10px;
  top:838px;
  width:160px;
  height:202px;
}
#u18102 {
  position:absolute;
  left:2px;
  top:93px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:141px;
}
#u18103 {
  position:absolute;
  left:22px;
  top:852px;
  width:136px;
  height:141px;
}
#u18104 {
  position:absolute;
  left:2px;
  top:62px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:141px;
}
#u18105 {
  position:absolute;
  left:203px;
  top:852px;
  width:136px;
  height:141px;
}
#u18106 {
  position:absolute;
  left:2px;
  top:62px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18107 {
  position:absolute;
  left:22px;
  top:1003px;
  width:127px;
  height:16px;
}
#u18108 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u18109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18109 {
  position:absolute;
  left:203px;
  top:1003px;
  width:136px;
  height:16px;
}
#u18110 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u18111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18111 {
  position:absolute;
  left:286px;
  top:1019px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u18112 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18113 {
  position:absolute;
  left:104px;
  top:1019px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u18114 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18116 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  overflow:hidden;
}
#u18116_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18116_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18117 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18118 {
  position:absolute;
  left:2px;
  top:73px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18116_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18116_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:202px;
}
#u18119 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:202px;
}
#u18120 {
  position:absolute;
  left:2px;
  top:93px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18116_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18116_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:202px;
}
#u18121 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:202px;
}
#u18122 {
  position:absolute;
  left:2px;
  top:93px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18116_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18116_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18123 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18124 {
  position:absolute;
  left:2px;
  top:73px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18116_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18116_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18125 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18126 {
  position:absolute;
  left:2px;
  top:73px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:6px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.349019607843137);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18128 {
  position:absolute;
  left:160px;
  top:147px;
  width:45px;
  height:6px;
}
#u18129 {
  position:absolute;
  left:2px;
  top:-5px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u18130 {
  position:absolute;
  left:163px;
  top:148px;
  width:6px;
  height:5px;
}
#u18130_img.selected {
}
#u18130.selected {
}
#u18131 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u18132 {
  position:absolute;
  left:172px;
  top:148px;
  width:6px;
  height:5px;
}
#u18132_img.selected {
}
#u18132.selected {
}
#u18133 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u18134 {
  position:absolute;
  left:180px;
  top:148px;
  width:6px;
  height:5px;
}
#u18134_img.selected {
}
#u18134.selected {
}
#u18135 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u18136 {
  position:absolute;
  left:188px;
  top:148px;
  width:6px;
  height:5px;
}
#u18136_img.selected {
}
#u18136.selected {
}
#u18137 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u18138 {
  position:absolute;
  left:197px;
  top:148px;
  width:6px;
  height:5px;
}
#u18138_img.selected {
}
#u18138.selected {
}
#u18139 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18140 {
  position:absolute;
  left:175px;
  top:156px;
  width:15px;
  height:10px;
  overflow:hidden;
}
#u18140_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18140_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18140_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18140_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18140_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18140_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18140_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18140_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18140_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18140_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u18141 {
  position:absolute;
  left:1120px;
  top:4455px;
  width:32px;
  height:32px;
}
#u18142 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u18143 {
  position:absolute;
  left:1141px;
  top:4454px;
  width:15px;
  height:15px;
  font-size:10px;
  color:#FFFFFF;
}
#u18144 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u18145 {
  position:absolute;
  left:803px;
  top:4497px;
  width:360px;
  height:28px;
  overflow:hidden;
}
#u18145_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18145_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18146 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u18146_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:317px;
  height:28px;
  background-image:none;
}
#u18146_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18147 {
  position:absolute;
  left:-250px;
  top:0px;
  width:96px;
  height:28px;
}
#u18147_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18147.selected {
}
#u18148 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u18149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18149 {
  position:absolute;
  left:-155px;
  top:0px;
  width:96px;
  height:28px;
}
#u18149_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18149.selected {
}
#u18150 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u18151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18151 {
  position:absolute;
  left:-60px;
  top:0px;
  width:96px;
  height:28px;
}
#u18151_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18151.selected {
}
#u18152 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u18153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18153 {
  position:absolute;
  left:35px;
  top:0px;
  width:96px;
  height:28px;
}
#u18153_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18153.selected {
}
#u18154 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u18155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18155 {
  position:absolute;
  left:129px;
  top:0px;
  width:96px;
  height:28px;
}
#u18155_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18155.selected {
}
#u18156 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u18157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18157 {
  position:absolute;
  left:221px;
  top:0px;
  width:96px;
  height:28px;
}
#u18157_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18157.selected {
}
#u18158 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u18159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18159 {
  position:absolute;
  left:814px;
  top:4455px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u18160 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:803px;
}
#u18163 {
  position:absolute;
  left:344px;
  top:4342px;
  width:394px;
  height:803px;
}
#u18164 {
  position:absolute;
  left:2px;
  top:394px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18165 {
  position:absolute;
  left:361px;
  top:4417px;
  width:360px;
  height:640px;
}
#u18166 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 246, 246, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18167 {
  position:absolute;
  left:360px;
  top:4377px;
  width:45px;
  height:32px;
}
#u18168 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18170 {
  position:absolute;
  left:361px;
  top:4417px;
  width:360px;
  height:25px;
}
#u18171 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u18172 {
  position:absolute;
  left:664px;
  top:4420px;
  width:25px;
  height:20px;
}
#u18173 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u18174 {
  position:absolute;
  left:630px;
  top:4420px;
  width:25px;
  height:20px;
}
#u18175 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u18176 {
  position:absolute;
  left:698px;
  top:4420px;
  width:14px;
  height:20px;
}
#u18177 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18179 {
  position:absolute;
  left:361px;
  top:4442px;
  width:360px;
  height:55px;
}
#u18180 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18181 {
  position:absolute;
  left:505px;
  top:4459px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18182 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u18183 {
  position:absolute;
  left:373px;
  top:4457px;
  width:26px;
  height:26px;
}
#u18184 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18185 {
  position:absolute;
  left:361px;
  top:4496px;
  width:360px;
  height:562px;
  overflow:hidden;
}
#u18185_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:562px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18185_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18186 {
  position:absolute;
  left:0px;
  top:-730px;
  touch-action:none;
}
#u18186_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:1308px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u18186_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:274px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18188 {
  position:absolute;
  left:0px;
  top:418px;
  width:360px;
  height:274px;
}
#u18189 {
  position:absolute;
  left:2px;
  top:129px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u18191 {
  position:absolute;
  left:141px;
  top:457px;
  width:100px;
  height:100px;
}
#u18192 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:11px;
  background:inherit;
  background-color:rgba(166, 121, 80, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18193 {
  position:absolute;
  left:141px;
  top:459px;
  width:26px;
  height:11px;
}
#u18194 {
  position:absolute;
  left:2px;
  top:-2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:215px;
}
#u18195 {
  position:absolute;
  left:1px;
  top:457px;
  width:130px;
  height:215px;
}
#u18196 {
  position:absolute;
  left:2px;
  top:100px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:105px;
}
#u18197 {
  position:absolute;
  left:141px;
  top:567px;
  width:214px;
  height:105px;
}
#u18198 {
  position:absolute;
  left:2px;
  top:44px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u18199 {
  position:absolute;
  left:251px;
  top:457px;
  width:100px;
  height:100px;
}
#u18200 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18201 {
  position:absolute;
  left:152px;
  top:583px;
  width:99px;
  height:16px;
}
#u18202 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u18203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18204 {
  position:absolute;
  left:0px;
  top:199px;
  width:360px;
  height:179px;
}
#u18205 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u18206 {
  position:absolute;
  left:8px;
  top:243px;
  width:116px;
  height:116px;
}
#u18207 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u18208 {
  position:absolute;
  left:272px;
  top:300px;
  width:49px;
  height:23px;
  color:#FFFFFF;
}
#u18209 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u18210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u18211 {
  position:absolute;
  left:266px;
  top:266px;
  width:12px;
  height:12px;
}
#u18212 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u18213 {
  position:absolute;
  left:280px;
  top:265px;
  width:46px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u18214 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u18215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u18215 {
  position:absolute;
  left:134px;
  top:243px;
  width:116px;
  height:116px;
}
#u18216 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18218 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  overflow:hidden;
}
#u18218_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18218_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18219 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18220 {
  position:absolute;
  left:2px;
  top:73px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18218_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18218_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18221 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18222 {
  position:absolute;
  left:2px;
  top:73px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18218_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18218_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18223 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18224 {
  position:absolute;
  left:2px;
  top:73px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18218_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18218_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18225 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18226 {
  position:absolute;
  left:2px;
  top:73px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18218_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:163px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18218_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18227 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:162px;
}
#u18228 {
  position:absolute;
  left:2px;
  top:73px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:6px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.349019607843137);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18230 {
  position:absolute;
  left:160px;
  top:147px;
  width:45px;
  height:6px;
}
#u18231 {
  position:absolute;
  left:2px;
  top:-5px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u18232 {
  position:absolute;
  left:163px;
  top:148px;
  width:6px;
  height:5px;
}
#u18232_img.selected {
}
#u18232.selected {
}
#u18233 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u18234 {
  position:absolute;
  left:172px;
  top:148px;
  width:6px;
  height:5px;
}
#u18234_img.selected {
}
#u18234.selected {
}
#u18235 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u18236 {
  position:absolute;
  left:180px;
  top:148px;
  width:6px;
  height:5px;
}
#u18236_img.selected {
}
#u18236.selected {
}
#u18237 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u18238 {
  position:absolute;
  left:188px;
  top:148px;
  width:6px;
  height:5px;
}
#u18238_img.selected {
}
#u18238.selected {
}
#u18239 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u18240 {
  position:absolute;
  left:197px;
  top:148px;
  width:6px;
  height:5px;
}
#u18240_img.selected {
}
#u18240.selected {
}
#u18241 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18242 {
  position:absolute;
  left:175px;
  top:156px;
  width:15px;
  height:10px;
  overflow:hidden;
}
#u18242_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18242_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18242_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18242_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18242_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18242_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18242_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18242_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18242_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18242_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18243 {
  position:absolute;
  left:0px;
  top:711px;
  width:360px;
  height:251px;
}
#u18244 {
  position:absolute;
  left:2px;
  top:118px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18245 {
  position:absolute;
  left:152px;
  top:722px;
  width:57px;
  height:16px;
}
#u18246 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:296px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18247 {
  position:absolute;
  left:0px;
  top:978px;
  width:360px;
  height:296px;
}
#u18248 {
  position:absolute;
  left:2px;
  top:140px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18249 {
  position:absolute;
  left:152px;
  top:992px;
  width:57px;
  height:16px;
}
#u18250 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18251 {
  position:absolute;
  left:154px;
  top:218px;
  width:57px;
  height:16px;
}
#u18252 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u18253 {
  position:absolute;
  left:43px;
  top:225px;
  width:85px;
  height:1px;
}
#u18254 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u18255 {
  position:absolute;
  left:233px;
  top:225px;
  width:85px;
  height:1px;
}
#u18256 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18257 {
  position:absolute;
  left:152px;
  top:430px;
  width:57px;
  height:16px;
}
#u18258 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u18259 {
  position:absolute;
  left:43px;
  top:438px;
  width:85px;
  height:1px;
}
#u18260 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u18261 {
  position:absolute;
  left:233px;
  top:438px;
  width:85px;
  height:1px;
}
#u18262 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u18263 {
  position:absolute;
  left:43px;
  top:730px;
  width:85px;
  height:1px;
}
#u18264 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u18265 {
  position:absolute;
  left:233px;
  top:730px;
  width:85px;
  height:1px;
}
#u18266 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u18267 {
  position:absolute;
  left:43px;
  top:1000px;
  width:85px;
  height:1px;
}
#u18268 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u18269 {
  position:absolute;
  left:233px;
  top:1000px;
  width:85px;
  height:1px;
}
#u18270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:202px;
}
#u18271 {
  position:absolute;
  left:0px;
  top:746px;
  width:360px;
  height:202px;
}
#u18272 {
  position:absolute;
  left:2px;
  top:93px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:240px;
}
#u18273 {
  position:absolute;
  left:0px;
  top:1021px;
  width:360px;
  height:240px;
}
#u18274 {
  position:absolute;
  left:2px;
  top:112px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bradley Hand ITC Normal', 'Bradley Hand ITC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u18275 {
  position:absolute;
  left:147px;
  top:1290px;
  width:43px;
  height:18px;
  font-family:'Bradley Hand ITC Normal', 'Bradley Hand ITC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u18276 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18277 {
  position:absolute;
  left:20px;
  top:236px;
  width:30px;
  height:30px;
}
#u18278 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u18279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18279 {
  position:absolute;
  left:134px;
  top:236px;
  width:30px;
  height:30px;
}
#u18280 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u18281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18281 {
  position:absolute;
  left:31px;
  top:172px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18282 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u18283 {
  position:absolute;
  left:0px;
  top:169px;
  width:25px;
  height:25px;
}
#u18284 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18285 {
  position:absolute;
  left:31px;
  top:390px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18286 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u18287 {
  position:absolute;
  left:0px;
  top:387px;
  width:25px;
  height:25px;
}
#u18288 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18289 {
  position:absolute;
  left:151px;
  top:1792px;
  width:155px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18290 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u18291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18291 {
  position:absolute;
  left:150px;
  top:2654px;
  width:101px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18292 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u18293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18293 {
  position:absolute;
  left:151px;
  top:934px;
  width:173px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18294 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u18295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18295 {
  position:absolute;
  left:150px;
  top:5191px;
  width:107px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18296 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u18297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u18297 {
  position:absolute;
  left:676px;
  top:244px;
  width:884px;
  height:122px;
  font-size:16px;
}
#u18298 {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  word-wrap:break-word;
}
