body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-147px;
  width:1195px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11978 {
  position:absolute;
  left:147px;
  top:75px;
  width:1200px;
  height:813px;
}
#u11979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u11979 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u11980 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  word-wrap:break-word;
}
#u11981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:30px;
}
#u11981 {
  position:absolute;
  left:51px;
  top:0px;
  width:427px;
  height:30px;
}
#u11982 {
  position:absolute;
  left:2px;
  top:7px;
  width:423px;
  word-wrap:break-word;
}
#u11983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u11983 {
  position:absolute;
  left:478px;
  top:0px;
  width:239px;
  height:30px;
}
#u11984 {
  position:absolute;
  left:2px;
  top:7px;
  width:235px;
  word-wrap:break-word;
}
#u11985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u11985 {
  position:absolute;
  left:717px;
  top:0px;
  width:239px;
  height:30px;
}
#u11986 {
  position:absolute;
  left:2px;
  top:7px;
  width:235px;
  word-wrap:break-word;
}
#u11987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u11987 {
  position:absolute;
  left:956px;
  top:0px;
  width:239px;
  height:30px;
}
#u11988 {
  position:absolute;
  left:2px;
  top:7px;
  width:235px;
  word-wrap:break-word;
}
#u11989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:130px;
}
#u11989 {
  position:absolute;
  left:0px;
  top:30px;
  width:51px;
  height:130px;
}
#u11990 {
  position:absolute;
  left:2px;
  top:57px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:130px;
}
#u11991 {
  position:absolute;
  left:51px;
  top:30px;
  width:427px;
  height:130px;
}
#u11992 {
  position:absolute;
  left:2px;
  top:57px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:130px;
}
#u11993 {
  position:absolute;
  left:478px;
  top:30px;
  width:239px;
  height:130px;
}
#u11994 {
  position:absolute;
  left:2px;
  top:57px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:130px;
}
#u11995 {
  position:absolute;
  left:717px;
  top:30px;
  width:239px;
  height:130px;
}
#u11996 {
  position:absolute;
  left:2px;
  top:57px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:130px;
}
#u11997 {
  position:absolute;
  left:956px;
  top:30px;
  width:239px;
  height:130px;
}
#u11998 {
  position:absolute;
  left:2px;
  top:57px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:162px;
}
#u11999 {
  position:absolute;
  left:0px;
  top:160px;
  width:51px;
  height:162px;
}
#u12000 {
  position:absolute;
  left:2px;
  top:73px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:162px;
}
#u12001 {
  position:absolute;
  left:51px;
  top:160px;
  width:427px;
  height:162px;
}
#u12002 {
  position:absolute;
  left:2px;
  top:73px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12003 {
  position:absolute;
  left:478px;
  top:160px;
  width:239px;
  height:162px;
}
#u12004 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12005 {
  position:absolute;
  left:717px;
  top:160px;
  width:239px;
  height:162px;
}
#u12006 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12007 {
  position:absolute;
  left:956px;
  top:160px;
  width:239px;
  height:162px;
}
#u12008 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:162px;
}
#u12009 {
  position:absolute;
  left:0px;
  top:322px;
  width:51px;
  height:162px;
}
#u12010 {
  position:absolute;
  left:2px;
  top:73px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:162px;
}
#u12011 {
  position:absolute;
  left:51px;
  top:322px;
  width:427px;
  height:162px;
}
#u12012 {
  position:absolute;
  left:2px;
  top:73px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12013 {
  position:absolute;
  left:478px;
  top:322px;
  width:239px;
  height:162px;
}
#u12014 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12015 {
  position:absolute;
  left:717px;
  top:322px;
  width:239px;
  height:162px;
}
#u12016 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12017 {
  position:absolute;
  left:956px;
  top:322px;
  width:239px;
  height:162px;
}
#u12018 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:162px;
}
#u12019 {
  position:absolute;
  left:0px;
  top:484px;
  width:51px;
  height:162px;
}
#u12020 {
  position:absolute;
  left:2px;
  top:73px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:162px;
}
#u12021 {
  position:absolute;
  left:51px;
  top:484px;
  width:427px;
  height:162px;
}
#u12022 {
  position:absolute;
  left:2px;
  top:73px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12023 {
  position:absolute;
  left:478px;
  top:484px;
  width:239px;
  height:162px;
}
#u12024 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12025 {
  position:absolute;
  left:717px;
  top:484px;
  width:239px;
  height:162px;
}
#u12026 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12027 {
  position:absolute;
  left:956px;
  top:484px;
  width:239px;
  height:162px;
}
#u12028 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:162px;
}
#u12029 {
  position:absolute;
  left:0px;
  top:646px;
  width:51px;
  height:162px;
}
#u12030 {
  position:absolute;
  left:2px;
  top:73px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:162px;
}
#u12031 {
  position:absolute;
  left:51px;
  top:646px;
  width:427px;
  height:162px;
}
#u12032 {
  position:absolute;
  left:2px;
  top:73px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12033 {
  position:absolute;
  left:478px;
  top:646px;
  width:239px;
  height:162px;
}
#u12034 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12035 {
  position:absolute;
  left:717px;
  top:646px;
  width:239px;
  height:162px;
}
#u12036 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u12037 {
  position:absolute;
  left:956px;
  top:646px;
  width:239px;
  height:162px;
}
#u12038 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
